[2020-07-17 07:42] Saumya-Mishra9129 opened #2 "Profile views tag increments everytime"
This can be seen even on opening or reloading my own profile , it needs improvement.

[2020-07-17 08:55] rahuldkjain commented on #2
Thanks for pointing it out. I am using [github-profile-views-counter](https://github.com/antonkomarev/github-profile-views-counter) service for the same. The reason for choosing this service is the premium domain hosting(not on free glitch service) so that it never breaks down with a bad message like `too many requests`.
I am opening an issue on the service repository.

Thanks again.

[2020-07-17 09:18] rahuldkjain commented on #2
The develop of [github-profile-views-counter](https://github.com/antonkomarev/github-profile-views-counter) says that the service is meant for `view count` not for `unique view count` and GitHub proxies images thru the `camo.githubusercontent.com` domain, so we don't have any way to check if it's a new user or somebody who already seen your profile today.

So I am closing this issue as of now!

Or

[2020-07-17 09:18] #2 closed

[2020-07-17 10:34] Nilesh2000 opened #3 "Add labels"
Use labels for checkboxes under the SKILLS section.

[2020-07-17 10:44] Saumya-Mishra9129 commented on #2
@rahuldkjain Can we not use any different service , and can handle bad message by some way.? I am looking forward for it.

[2020-07-17 11:46] rahuldkjain commented on #2
@Saumya-Mishra9129 I am not aware of any other service that solves this issue. Will update the service, if I find a better alternative.

[2020-07-17 13:10] rahuldkjain commented on #3
Thanks, @Nilesh2000 for the issue. It has been fixed in the latest commit.

[2020-07-17 13:10] #3 closed

[2020-07-18 13:08] Mugilan-Codes opened #6 "Add Placeholder text for Socials"
- **Add Placeholder texts for all the social links.**

_BTW, Awesome Work!_

[2020-07-19 04:26] rahuldkjain opened #7 "display dynamic counts with star and fork button in header"
![Screenshot_2020-07-19 Github Profile Readme Generator](https://user-images.githubusercontent.com/26406279/87866986-f971e800-c9a5-11ea-99b9-dcb07a15c3e7.png)

These buttons in the header should display their respective dynamic counts

[2020-07-19 04:44] rahuldkjain opened #8 "change copy icon with tick icon(✔️) on click of `copy-markdown` button"
![Screenshot_2020-07-19 Github Profile Readme Generator(1)](https://user-images.githubusercontent.com/26406279/87867190-45259100-c9a8-11ea-8f6a-9c4887bfbfd4.png)

Replace the above copy icon with check(✔️) icon on click of `copy-markdown`

Icon to be used: [Check Icon](https://primer.style/octicons/check-16)

[2020-07-19 06:19] rahuldkjain opened #9 "Add dribbble, behance, medium, & youtube input box in social"
![github-profile-readme-generator social](https://user-images.githubusercontent.com/26406279/87868599-4610ef80-c9b5-11ea-848e-4b3a08191f56.png)
See the above image for reference

Use these links for icons
dribbble: https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/dribbble.svg
behance: https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/behance.svg
medium: https://cdn.jsdelivr.net/npm/simple

[2020-07-19 06:24] rahuldkjain opened #10 "Discuss how to use gifs in the tool"
Things to brainstorm
- UI/UX
- gif resources

[2020-07-19 08:12] shivaniaakanksha opened #11 "Add Flutter or Dart in Skills."
Flutter or Dart is not mentioned in Skills Category. A huge number of developers are working on his too. I think it can be considered too.

[2020-07-19 09:39] rajat2502 opened #12 "Trim the variables"
**Describe the bug**
Trim the variables which are styled bold in the readme. If any spaces before/after are left then GitHub readme will show that space and will not make it bold

**Expected behavior**
Trimmed variables

**Screenshots**
![image](https://user-images.githubusercontent.com/42200276/87871846-9a29cd00-c9d1-11ea-9e8b-67231c59c285.png)
preview:
![image](https://user-images.githubusercont

[2020-07-19 09:48] rahuldkjain commented on #11
@shivaniaakanksha would you like to work on this isse?

[2020-07-19 09:51] rahuldkjain commented on #12
Thanks for opening the issue @rajat2502 🙇. I have assigned the issue to you.

[2020-07-19 09:57] shivaniaakanksha commented on #11
Sure, I will try to do this. Shall I raise the PR if it gets solved?  @rahuldkjain

[2020-07-19 09:59] rahuldkjain commented on #11
@shivaniaakanksha yep🌟. I've assigned the issue to you

[2020-07-19 10:07] rahuldkjain commented on #11
@shivaniaakanksha Flutter & Dart icons are not available on [devicon](https://konpa.github.io/devicon/) which are being used here. So you are free to use icons from other sources.

**Use SVG Icons only**

You can use these icons if you want:
- flutter: https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/flutter.svg
- dart: https://cdn.jsdelivr.net/npm/simple-icons@3.1.0/icons/dart.svg

[2020-07-19 10:58] rajat2502 commented on #12
Thanks @rahuldkjain I will make a PR for the same.

[2020-07-19 13:01] ankurchaudhary627 commented on #8
Hey @rahuldkjain , I've fixed this issue. Can you please assign this issue to me, so that I can create PR for this. Thanks!

[2020-07-19 14:47] abhijit-hota commented on #6
But I already see the placeholder texts for social links. Am I missing something?

[2020-07-19 14:49] abhijit-hota commented on #9
Is someone working on this issue?

[2020-07-19 14:53] rahuldkjain commented on #9
Nope @abhijit-hota . I am assigning it to you

[2020-07-19 14:56] rahuldkjain commented on #6
Yep it's already there, closing the issue

[2020-07-19 14:56] #6 closed

[2020-07-19 15:31] abhijit-hota commented on #9
Working on it. Thanks!

[2020-07-19 16:14] abhijit-hota commented on #9
#13 Added it! Please review and merge!

[2020-07-19 16:19] ankurchaudhary627 commented on #8
PR is raised for this issue. Kindly check, thanks! @rahuldkjain

[2020-07-19 16:27] abhijit-hota commented on #7
Can I work on this?

[2020-07-19 16:34] ankurchaudhary627 commented on #7
Can you please elaborate on this issue? I didn't get this one. @rahuldkjain

[2020-07-19 16:52] rahuldkjain commented on #7
@ankurchaudhary627 showing stars count in star this repo button and forks count in fork on github button

[2020-07-20 04:25] rahuldkjain opened #16 "add tooltip on hover to skill icons"
hover to any icon in the skills section
display a tooltip showing the skill name

Eg: I am hovering on the React icon
the tooltip should display `React`

[2020-07-20 06:06] abhijit-hota commented on #7
@rahuldkjain I'm having some issues using `useEffect` as I'm not experienced in it. Can I convert the `src/components/header.js` to a stateful class component and use `componentDidUpdate` instead?

P.S. I need to make an API call to GitHub API.

[2020-07-20 06:09] ankurchaudhary627 commented on #7
I was looking into this, can you assign this to me it might be worth saving time to convert the file to class component. I am going to use useEffect.

[2020-07-20 06:16] rahuldkjain commented on #7
@ankurchaudhary627 is working on this. You can pick some other issues.

[2020-07-20 06:19] rahuldkjain commented on #7
You can use buttons from https://buttons.github.io/

[2020-07-20 06:23] rahuldkjain commented on #9
fix: https://github.com/rahuldkjain/github-profile-readme-generator/pull/13

[2020-07-20 06:23] #9 closed

[2020-07-20 14:26] #12 closed

[2020-07-20 14:49] #11 closed

[2020-07-20 15:36] antonkomarev opened #18 "Extract username from social links"
A lot of people pasting links to their social links accounts instead of writing only username.
It leads to generating counter with link:
`/ghpvc/?username=https://github.com/example-username`
Instead of:
`/ghpvc/?username=example-username`

The better way will cutting domain part of the social website and leave only username automatically.

After then validation could be performed. For GitHub user

[2020-07-20 15:37] ankurchaudhary627 commented on #7
@rahuldkjain I explored github buttons. There are 2 issues in using that, first github button's UI is different from what is already there in the code right now. Secondly, the github button provides static count of stars and forks, and we don't have control to update those.
Right now I'm fetching from github api, and the update is happening dynamically, but there is delay which I'm trying to reduc

[2020-07-20 16:09] arjuna1729 opened #19 "no option to get back to markdown again."
**Is your feature request related to a problem? Please describe.**
After the markdown is generated upon clicking the **preview** option, there was **no** option to get to the markdown again.

**Describe the solution you'd like**
After clicking the preview option, there should be an option to get back to markdown again.

[2020-07-20 16:17] rahuldkjain commented on #7
I've used the buttons before, but removed it to make UI clean. You can go with your approach

[2020-07-20 16:18] rahuldkjain commented on #19
@arjuna1729 click the same button again, you will see the markdow

[2020-07-20 16:30] ankurchaudhary627 commented on #7
I see it takes around 40-45 seconds to update the count state, after it's been updated on Github. If that's fine? @rahuldkjain

[2020-07-20 16:32] rahuldkjain commented on #7
@ankurchaudhary627 40-45 seconds is too much. If it doesn't work then we will have to use the buttons mentioned above

[2020-07-20 16:36] ankurchaudhary627 commented on #7
Okay, I will see how I can reduce it, and let you know! @rahuldkjain

[2020-07-21 04:57] arjuna1729 commented on #19
Then it will be great if the icon changes from eye to code

[2020-07-21 07:24] imbhargav5 opened #20 "🤟 Thank you!"
This is absolutely fantastic and has saved me a few hours today!

[2020-07-21 10:28] rahuldkjain commented on #19
@arjuna1729 that would be great

[2020-07-21 10:29] rahuldkjain commented on #7
@ankurchaudhary627 any update?

[2020-07-21 11:18] rahuldkjain commented on #18
@antonkomarev working on it!

[2020-07-21 12:04] gabrieldiaspereira opened #21 "download error"
**Describe the bug**
The error occurs when the preview option is checked, when clicking on 'download' we do not get any answer, however when clicking on markdown it is possible to download.

**To Reproduce**
Steps to reproduce the behavior:
-After clicking "generate readme"
1. Click on 'preview button'
2. Click on 'download button'

**Desktop:**
 - OS: [ubuntu]
 - Browser [chrome]

[2020-07-21 12:59] rahuldkjain commented on #21
thanks @gabrieldiaspereira. I am fixing this

[2020-07-21 13:25] rahuldkjain commented on #21
fixed : pull #23

[2020-07-21 13:25] #21 closed

[2020-07-21 13:25] rahuldkjain commented on #19
fixed: pull #22

[2020-07-21 13:25] #19 closed

[2020-07-21 13:26] rahuldkjain commented on #18
@antonkomarev issue is fixed by #22 . Kindly check

[2020-07-21 13:27] rahuldkjain commented on #16
fixed: #22

[2020-07-21 13:27] #16 closed

[2020-07-21 13:37] antonkomarev commented on #18
Validation work good. The next thing I could propose for the future - you could make check on input unfocus if value starting from `https://github.com/*`. If so - make a preg_match, extract username and replace input value and only then perform validation.

[2020-07-21 16:13] ankurchaudhary627 commented on #7
Hi @rahuldkjain , so the issue is with the github api. There's limit on the api calls that we can make with github api. For, getting more number of requests we need to make Oauth get requests.
Right now, i am fetching every 15 seconds to get the updated count for stars and forks.

[2020-07-21 16:14] ankurchaudhary627 commented on #7
How can we do the same with the buttons that you mentioned earlier, its giving static count, right? Plus the UI is different from what is there currently

[2020-07-21 16:24] rahuldkjain commented on #7
I've used them here https://rahuldkjain.github.io

Its pretty straightforward and I think it won't affect the UI much

[2020-07-21 16:37] ankurchaudhary627 commented on #7
Isn't the button used there different from this
![image](https://user-images.githubusercontent.com/27446217/88081682-5d5f0100-cb9e-11ea-8074-065237a28207.png)
Plus the update isn't real time here - https://rahuldkjain.github.io, update happens when the page reloads.
I was thinking of real time update, instead of reloading.

[2020-07-21 20:26] MuhaddiMu opened #24 "StackOverflow URL is Broken"
**Describe the bug**
Every time, I add the Stackoverflow username, it leads to broken URLs.
Username: Muhaddis
Dynamic Link: https://stackoverflow.com/Muhaddis which is actually 404

**Expected behavior**
Instead of asking for username, we should ask for Stackoverflow profile ID.

Example: My Stackoverflow profile ID is 9773113. So the expected Dynamic link would be https://stackoverflow.com/users

[2020-07-22 00:58] rahuldkjain commented on #24
@MuhaddiMu I've assigned the issue to you

[2020-07-22 14:06] ankurchaudhary627 commented on #7
I've checked in the code and raised a PR. Thanks. @rahuldkjain

[2020-07-22 17:25] abhijit-hota commented on #7
Have been looking at this issue for a while.
My two cents:

The counts don't necessarily have to be "real-time". They are just counts and I think a single API fetch after the first render is enough. Making them real-time, in my opinion, is just overkill.

A simple solution would be to make the API call and just display the count like @ankurchaudhary627 did [here](https://github.com/rahuldkjain/git

[2020-07-22 18:49] prakashchokalingam commented on #7
We can use https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event to refresh the counts. I can help you with a PR. @rahuldkjain

[2020-07-23 00:09] MuhaddiMu commented on #24
@rahuldkjain Please review #26

[2020-07-23 12:05] abhijit-hota commented on #10
I have a suggestion for UI/UX. I considered opening a new issue as this issue is just for discussion.
Here it is:

**The problem:** As the web app grows and becomes larger, the number of **skills** and **online developer platforms/social media** grows with it. This make the page longer.

**The solution:** A dropdown menu with a longer list of skills. Users can just search for the relevant skills a

[2020-07-24 02:50] rahuldkjain commented on #7
I think there is no need to update the count every 15 seconds. The average usage time per user on the page is 59 seconds.

[2020-07-24 02:57] rahuldkjain commented on #7
Thanks @prakashchokalingam  for your efforts.
P.S: Please put a comment to assign the issue before start working.

[2020-07-24 02:58] rahuldkjain commented on #10
Making the list alphabetically sorted will be nice point to start with.

[2020-07-24 03:01] abhijit-hota commented on #10
Ok.

[2020-07-24 03:08] #24 closed

[2020-07-24 03:52] rahuldkjain opened #29 "add feature to customize the visit-count badge"
You can provide different input fields after checking `display visitors-count badge` checkbox to customize the badge.
We can customize the color, style, and label. See below for reference

### Color

You can use any valid HEX color or pick from a predefined set of named colors (`blue` is the default).

| color | demo |
| ----- | ---- |
| `brightgreen` | ![](https://img.shields.io/static/v1?label=P

[2020-07-24 03:55] rahuldkjain opened #30 "add feature to customize the github-stats card"
Please see the README for reference https://github.com/anuraghazra/github-readme-stats

[2020-07-24 07:22] Akshat1305 opened #31 "Logos returning an ERROR 404."
**Describe the bug**
The image logos under skills are returning an ERROR 404 (Page not found).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://konpa.github.io/devicon/devicon.git/icons/react/react-original-wordmark.svg
2. See error

**Screenshot**
https://rahuldkjain.github.io/gh-profile-readme-generator/

![Capture](https://user-images.githubusercontent.com/63666629/88368454-b

[2020-07-24 08:23] rahuldkjain commented on #31
@Akshat1305 thanks for informing.
The developer renamed the repository from `https://konpa.github.io` to `https://devicons.github.io`. Will fix this asap

[2020-07-24 08:25] hedythedev opened #32 "All the Dev icons are not loading"
https://github.com/rahuldkjain/github-profile-readme-generator/blob/57e09b4a2526cd45dc3e391fd1c920f7b31e43ae/src/constants/skills.js#L9-L17

Devicon repo had recently transferred their repository to a separate organisation, so all the `konpa.github.io/*` would have to be changed to `devicons.github.io/*` like [here](https://github.com/devicons/devicon/commit/0d6c64dbbf311879f7d563bfc3ccf559f9ed111

[2020-07-24 08:30] hedythedev commented on #32
Oops disn’t see how this issue was already posted sorry

[2020-07-24 08:30] #32 closed

[2020-07-24 08:38] rahuldkjain commented on #31
Fixed

[2020-07-24 08:38] #31 closed

[2020-07-24 15:46] rahuldkjain commented on #30
I am integrating the `Top Languages` Card

[2020-07-24 16:57] chsanleo opened #33 "No images in skills"
Hi!
In the generator u can see correctly all the images of the skills but when u use the code in ur readme doesn't show it.

![imagen](https://user-images.githubusercontent.com/65183792/88415886-89b59000-cddf-11ea-9f28-1e5672a31c4d.png)

Looks like the links for the images return a 404, I add some links of that img src:
https://konpa.github.io/devicon/devicon.git/icons/angularjs/angularjs-original

[2020-07-24 18:38] ankurchaudhary627 commented on #10
@rahuldkjain @abhijit-hota  We can probably use `elastic search` for searching the skills as the user types in the input box. We can put minimum character limit to be 3 or 4 after which we filter and show the filtered options in the dropdown as the user types making the search more user friendly.

[2020-07-24 18:46] ankurchaudhary627 commented on #33
This issue has already been raised [here](https://github.com/rahuldkjain/github-profile-readme-generator/issues/31) and fixed [here](https://github.com/rahuldkjain/github-profile-readme-generator/commit/2153a7ac6e3f913cf6a0e3304b3ac7dc100a9b6f). You might need to generate the readme again.

[2020-07-24 19:48] chsanleo commented on #33
ok! thanks!

[2020-07-24 19:48] #33 closed

[2020-07-24 19:58] chsanleo opened #34 "Add new skills"
Can Add new skills with the icon?
like=>

Spring:
https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg
Matlab:
https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Matlab_Logo.png/240px-Matlab_Logo.png
Kotlin:
https://res.cloudinary.com/vlctechhub/image/twitter_name/w_350/kotlin_es.jpg

[2020-07-25 02:40] abhijit-hota commented on #10
Yes! This seems nice and minimal. 👍

[2020-07-25 03:23] rahuldkjain commented on #34
@chsanleo would you like to work on this?

[2020-07-25 05:26] scottcwilson opened #36 "Add a blank line after <h3> tag"
The output of the generator needs to put a blank line between the subtitle and the first Work entry ("I'm currently working on.")  Otherwise, the links in the first Work entry will not work; you'll just see them displayed as raw Markdown.  (In Github markdown you have to have a blank line between HTML and Markdown, or the Markdown won't be interpreted.)

[2020-07-25 07:56] prakashchokalingam commented on #7
Thanks @rahuldkjain

It's just a reference PR @rahuldkjain, It is not created with an intent to merge. will be closing the PR.

[2020-07-25 08:46] chsanleo commented on #34
Yes of course

[2020-07-25 10:08] rahuldkjain commented on #7
fixed

[2020-07-25 10:08] #7 closed

[2020-07-25 10:19] rahuldkjain commented on #10
@abhijit-hota @ankurchaudhary627 I think basic JS Filter will do the work easily. Just curious to know why to use Elastic Search here with such less data.

[2020-07-25 10:33] rahuldkjain commented on #36
Thanks, @scottcwilson :bowing_man: for opening the bug.
It has been fixed by https://github.com/rahuldkjain/github-profile-readme-generator/pull/37

[2020-07-25 10:33] #36 closed

[2020-07-25 10:34] scottcwilson commented on #36
Great job on the tool!  Thank you.

[2020-07-25 10:44] rahuldkjain commented on #36
Received my first ever grant on the OSS 🙏. That's so sweet of you.

A big thanks @scottcwilson 🙇

[2020-07-25 10:47] scottcwilson commented on #36
Many moons ago, my business started the same way - due to the generosity of someone who appreciated my work.  Good luck in your journey.

[2020-07-25 14:09] ankurchaudhary627 commented on #10
@rahuldkjain I suggest using elastic search because the skills list can be very long where we can efficiently use this. If we use JS filter, the user will have to type the skill name completely and then only we will filter out the skills based on inputs. But on the same hand if we use elastic search, it will be dynamic filtering as the user types the skills. It leads to optimized filtering as comp

[2020-07-26 03:06] rahuldkjain commented on #10
@ankurchaudhary627 yeah sounds great.

[2020-07-26 04:31] rahuldkjain opened #38 "Please get the issue assigned to you before start working"
I've seen that so many developers creating pull requests without even getting assigned.
I request you to follow the steps before start working on the issues
1. Put a comment like "Please assign this issue to me"
2. Wait to get it assigned to you.
3. Start working
4. Create a Pull Request mentioning the issue.

It will be easier to keep track of the contributions.

Thanks 🙇

[2020-07-27 06:40] DheerajKN opened #40 "Add more Github Stats options for user to choose"
`anuraghazra/github-readme-stats` project that provides GitHub Stats Card now widely used in many profile-readme github has 2 more card namely:
- GitHub Extra Repo Pins
- Top Languages Card

So adding this feature request so that user can get an option to add this data in his profile-readme

Solution -
Adding 2 more checkbox option for the user to select whether he wants to add these functionaliti

[2020-07-27 08:50] rahuldkjain commented on #40
@DheerajKN would you like to work on this issue?

[2020-07-27 09:07] DheerajKN commented on #40
No @rahuldkjain, that's the reason why I wrote down some code.

[2020-07-27 09:11] rahuldkjain commented on #40
Fine @DheerajKN

[2020-07-28 18:02] ahmedmandur opened #43 "Currently Learning section is not binding in the markdown and markdown preview"
When you create the profile and write anything inside the "currently Learning" it's not reflect in the markdown and the markdown preview

[2020-07-28 18:29] #43 closed

[2020-07-28 23:09] zafirhsn opened #44 "Typo in "isMediumUsernameVaid" function name"
Small typo in "isMediumUsername**Vaid**" function, should be "isMediumUsername**Valid**" in declaration and references

https://github.com/rahuldkjain/github-profile-readme-generator/blob/a1f9633830f23534ad014a195ede6c5fda6bddec/src/utils/validation.js#L5-L10

[2020-07-28 23:11] zafirhsn commented on #44
I am fairly new to open source and would like to work on this easy fix for the experience if that's okay

[2020-07-29 13:36] antonkomarev commented on #29
We've released v2 of badge generator package and some changes in colors were added. I recommend to get actual ones from the repository: https://github.com/antonkomarev/github-profile-views-counter#make-it-personal

[2020-07-30 22:26] #44 closed

[2020-08-02 08:47] saianurag2 opened #46 "Add categories in skills"
**Is your feature request related to a problem? Please describe.**
As the skill list keeps growing, it makes sense to categorise the skills

**Describe the solution you'd like**
Categories based on Utility.
Frontend, Backend, Frameworks(could be clubbed with f/e or b/e), Databases, Tools(eg: Git, Meld, Postman), Testing
**Describe alternatives you've considered**
Add custom-order for listed skills

[2020-08-04 07:58] rahuldkjain opened #47 "Add Unit Testing"
adding unit test cases will help to ensure that new features won't break the existing tool.

Please refer https://www.gatsbyjs.org/docs/unit-testing/ to know how to add the test cases

[2020-08-04 08:00] rahuldkjain commented on #46
I think categorizing the skills based on their utility (like AI/ML, Frontend, Backend, Database, etc) instead of experience and proficiency will be more beneficial @saianurag2

[2020-08-05 10:23] kanitmann opened #49 "Icon size issue in mobile view"
**Describe the bug**
Icons appear too big in mobile view of the profile

**To Reproduce**
Steps to reproduce the behavior:
1. Open any GitHub profile that contains the readme generator
2. Scroll down to skill icons
3. See error

**Expected behavior**
All icons selected by user in his/her readme while specifying their skillset should be visible.

**Smartphone (please complete the following informat

[2020-08-06 06:42] acervenky opened #50 "Animated Github Badges"
**Is your feature request related to a problem? Please describe.**
Recently the Arctic Contributor Badge has been added to our github profiles, this is a way of integrating it in our reamde profiles as well.

**Describe the solution you'd like**
Minimalistic icons with animations rendered in AE, will go well with the overall theme of your generator.

**Describe alternatives you've considered**
I c

[2020-08-06 12:38] umaad opened #51 "Add MS SQL in Database,Visual Studio in Software and SVN in Devops."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-08-06 13:21] somikdatta opened #52 "Margin between Most Used Languages and GitHub Stats to prettify things"
**Problem:** On narrower screen real estate, Most Used Languages card and GitHub Stats card pile on top of each other.

**Solution:** Add top margin on both the cards.

_I'd be more than happy to make this happen with my contribution_

**Preview 1 - 1366px width**
![Preview 1 - 1366px width](https://user-images.githubusercontent.com/51878110/89536401-7958d880-d815-11ea-9e06-3f2e8780760c.png)
**Pre

[2020-08-06 14:00] rahuldkjain commented on #52
@somikdatta would you like to fix that?

[2020-08-06 15:20] somikdatta commented on #52
Of course, would be glad to be of help!

[2020-08-06 15:25] somikdatta commented on #52
@rahuldkjain Of course, would be glad to be of help!

[2020-08-06 18:22] saianurag2 commented on #46
I agree with your suggestion. I will update my issue.

[2020-08-07 18:30] Maddoxx88 commented on #34
Can I contribute in adding more skills and their eventual PNG/SVG files?
@chsanleo @rahuldkjain

[2020-08-07 19:11] Maddoxx88 commented on #34
Like in many frameworks, databases and more. Or can I create a pull request directly?

[2020-08-08 09:47] rahuldkjain commented on #51
@umaad would you like add those?

[2020-08-08 09:49] rahuldkjain commented on #34
@Maddoxx88 you can create a PR referring to this issue. I am assigning the issue to you

[2020-08-08 11:22] Maddoxx88 commented on #34
Ohk

[2020-08-08 13:07] umaad commented on #51
I would love to add.

On Sat, Aug 8, 2020 at 15:32 Rahul Jain <notifications@github.com> wrote:

--

Best Regards,
Er.Uma Adhikari ॥ *Software Engineer*

e-Zone International Pvt. Ltd (An ISO 9001:2008  Certified Company)
New Baneshwor, Opposite of BICC West Gate No.2 , Kathmandu, Nepal.

[2020-08-08 14:06] Maddoxx88 opened #55 "Request to add BaaS & Static Site Generators as categories under skills"
I'm ready with the names and their icon links.

[2020-08-12 02:33] abhivemp opened #58 "Really Loving This!!"
Want to give a shoutout to @rahuldkjain and the contributors to this repository. You guys really changed the readme looks on Github

If there is anyone I can contribute, please tag me.

Cheers!

[2020-08-12 04:34] rahuldkjain commented on #58
@abhivemp glad you find it useful. Please go through the issues to contribute.

[2020-08-12 16:48] muescha opened #60 "save data in config file and load data"
**Is your feature request related to a problem? Please describe.**

When i visit the page a second time have to enter the data again. saving the data in a file would be nice.

**Describe the solution you'd like**
add a save config and load config to the website

**Describe alternatives you've considered**
n/a

**Additional context**

[2020-08-12 16:50] muescha opened #61 "add cli"
**Is your feature request related to a problem? Please describe.**

add a cli so i don't need to fill in the web-form

**Describe the solution you'd like**

extract the generating part into an node package, then i would like to store the data in a config-file and then run a node script to convert it

**Describe alternatives you've considered**
i am not looked for other gererators

**Additional con

[2020-08-14 08:38] #52 closed

[2020-08-15 14:14] Hardik0307 opened #62 "[Addition of new skills - Under existing categories]"
Hello :wave:,
Want to **add some skills** like Hugo(under static site), CanvasJS(Data Visualization).

and all are in SVG format itself.

Ready with name + icons.
@utsav00 also wants to contribute more skills.

[2020-08-15 14:19] utsav00 commented on #62
Hey, I'd love to contribute to this project by adding some skills such as some Database tools and some programming languages.

[2020-08-18 12:23] #62 closed

[2020-08-20 08:14] g-savitha opened #66 "Add Datastructures and algorithms under skills"
Add problem solving skills category
and also add social links of hackerrank, leetcode, spoj, codechef etc.

[2020-08-20 14:31] rahuldkjain commented on #66
Would you like to work on this @g-savitha ?

[2020-08-20 14:32] rahuldkjain commented on #61
@muescha would you like to work on this?

[2020-08-20 14:32] rahuldkjain commented on #60
@muescha would you like to contribute?

[2020-08-21 09:19] mxschmitt opened #67 "how to setup link leads to wrong page"
**Describe the bug**

The how to setup link leads to the wrong page.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://rahuldkjain.github.io/gh-profile-readme-generator/
2. Enter some dev.to username
3. Check the `display latest dev.to blogs dynamically (Github Action)` checkbox
4. Click on `how to setup`
5. Leads to a incorrect site: https://rahuldkjain.github.io/addons

**Expe

[2020-08-21 14:17] #67 closed, assigned to mxschmitt

[2020-08-25 08:15] DestroyerXyz opened #75 "[BUG]Languages' icons are above the "Most Used Languages" title"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-26 04:37] rahuldkjain commented on #75
@DestroyerXyz since you don't have any repository yet, the most languages thing will be empty. I suggest you to not use it right now.

[2020-08-27 05:36] github-contributor-1 commented on #66
@rahuldkjain I want to work on adding social links of hackerrank, leetcode, codechef  etc

[2020-08-27 12:44] guillaume-larche opened #78 "Qt and others"
**Is your feature request related to a problem? Please describe.**
That will be great if there had the Qt and other GUI frameworks available in the **frontend** category.

**Describe the solution you'd like**
Add Qt, wxWidgets and GTK icons within the **frontend** category

![2020-08-27 12_42_28-Window](https://user-images.githubusercontent.com/22976322/91443436-a2e4ad00-e873-11ea-991e-337925cffd5

[2020-08-27 15:38] #75 closed

[2020-08-27 15:40] rahuldkjain commented on #78
@guillaume-larche would you like to work on this?

[2020-08-27 15:41] rahuldkjain commented on #66
@amruta-kashikar great. I've assigned the issue to you.

[2020-08-27 15:51] rahuldkjain opened #79 "update gif in the README"
https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/github-profile-readme-generator.gif

The above gif is outdated.

So many cool skill icons and features have been added.

Record the screen and convert the video to gif using https://ezgif.com/video-to-gif

[2020-08-27 16:11] MauricioHernanCabrera commented on #78
I can do that @rahuldkjain

[2020-08-28 10:04] guillaume-larche commented on #78
@MauricioHernanCabrera it's ok for me !

[2020-08-28 12:46] g-savitha opened #80 "Blog posts dynamically from personal website"
Add blog posts to display dynamically from personal website.

[2020-08-28 13:05] g-savitha opened #81 "Add links to usernames of dsa platforms"
Please add links to usernames of hackerrank, hackerearth, leetcode, geeksforgeeks profiles.

[2020-08-28 13:05] g-savitha commented on #81
assign this issue to me

[2020-08-28 14:24] g-savitha commented on #81
This is done and here is the PR : https://github.com/rahuldkjain/github-profile-readme-generator/pull/82

[2020-08-28 17:18] g-savitha commented on #66
hey i have already done that part and raised a PR https://github.com/rahuldkjain/github-profile-readme-generator/pull/82

[2020-08-28 17:19] g-savitha commented on #66
@amruta-kashikar i have added for hackerrank, hackerearth, gfg and leetcode. You can add for others like codechef, interviewbit, spoj, topcoder etc

[2020-08-28 17:57] amruta-kashikar commented on #66
@g-savitha I have no problem but it is assigned by @rahuldkjain , so you just ask him

[2020-08-28 20:30] LuGO0 opened #87 "View Count increments if you keep reloading the webpage !!"
**Describe the bug**
View count keeps on increasing if we keep on reloading the webpage and even while editing also this behavior can be seen.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to readme or edit the readme
2. reload it
3. see the incremented count

**Expected behavior**
no change in count should be expected

**Screenshots**
If applicable, add screenshots to help explain your

[2020-08-29 11:41] g-savitha commented on #81
This is a duplicate of this: https://github.com/rahuldkjain/github-profile-readme-generator/issues/66 , Hence closing

[2020-08-29 11:41] #81 closed

[2020-08-29 12:10] g-savitha commented on #66
LOL

[2020-08-29 13:25] rahuldkjain commented on #66
@rahuldkjain Please make sure that the issue gets assigned to you before start working. Really appreciate your efforts 😁

[2020-08-29 16:17] #66 closed

[2020-08-31 15:27] ryo-ma opened #89 "integrate GitHub Profile Trophy in addons"
I have developed GitHub Profile Trophy.

https://github.com/ryo-ma/github-profile-trophy

Can you integrate into the functionality in the same like as Github readme stats?

<img width="1317" alt="スクリーンショット 2020-08-30 22 03 37" src="https://user-images.githubusercontent.com/6661165/91737154-a8caed00-ebe9-11ea-83f8-18f2e3449094.png">

[2020-09-02 20:56] JoseDeFreitas opened #90 "github-readme-stats option hides HTML language automatically"
I noticed that when you use the "Top Languages" card from the [github-readme-stats](https://github.com/anuraghazra/github-readme-stats) repository the HTML language gets automatically hidden, which I think it shouldn't.
I think the default "Top Languages" card should be generated with the default settings (`https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra`).
I've read abo

[2020-09-03 05:54] rahuldkjain commented on #90
@JoseDeFreitas  would you like to work on it?

[2020-09-03 05:57] rahuldkjain commented on #80
@g-savitha this will be a great addition. It is possible using if the personal blog support RSS Feed.

Would you like to work on it?

[2020-09-03 09:25] g-savitha commented on #80
yes. please assign this to me

[2020-09-03 09:27] g-savitha commented on #79
i would like to work on it. assign this to me

[2020-09-03 09:46] louis-e opened #91 "GitHub Highlight Badges Integration"
Maybe consider integrating the GitHub user badges like the _Arctic Code Vault Contribution_ badge or the _Pro_ badge.

[2020-09-03 19:21] JoseDeFreitas commented on #90
@rahuldkjain no, it was just some thought I have and something I would like to see implemented. Thank you anyway 😀✌

[2020-09-03 22:25] Vadorequest commented on #87
https://github.com/antonkomarev/github-profile-views-counter/issues/15

[2020-09-03 23:08] kathawala opened #93 "Names don't show up when hovering over the "skills" checkboxes (on desktop)"
**Describe the bug**
Hovering over the skills in the part where you fill out the form to generate the README, sometimes the skill names do not appear even though there's enough space for them to appear

**To Reproduce**
Steps to reproduce the behavior:
1. Open your desktop browser, to any width lower than 1199px
2. Hover mouse over the checkboxes in the skills section.
3. No name for the correspon

[2020-09-04 01:42] rahuldkjain commented on #93
Would you like to work on it?

[2020-09-04 11:25] kathawala commented on #93
Yes please assign it to me

[2020-09-04 15:56] priyanshnama opened #95 "Dark Theme Compatibility"
### github stats , language card and social icons should adapt to dark theme

There are third party chrome Extensions by which github changes to dark theme.
other components like name and bullet points are automatically adapted to that dark theme

**It would be great if this works with card and social icons too**
below attached is the screenshot for the refrence
![darkmode](https://user-images.git

[2020-09-05 11:44] #93 closed

[2020-09-05 11:45] rahuldkjain commented on #95
@priyanshnama would you like to contribute?

[2020-09-05 11:52] rahuldkjain opened #96 "apply prettier to the whole project"
Currently, the code formatting is not consistent across the project.

Preferred Formatting:
- Intend using tabs
- default tab size: 4

Use prettier to achieve the same

[2020-09-05 12:44] amruta-kashikar commented on #96
I would like to work on this. Please assign this to me

[2020-09-05 15:29] rahuldkjain commented on #79
@g-savitha I've updated the UI with new features. You can create the gif now if you haven't done it yet.

[2020-09-06 02:09] priyanshnama commented on #95
@rahuldkjain.
I don't know JS, CSS, TypeScript as of now.

[2020-09-06 17:39] g-savitha commented on #79
Cool. New update looks great.

Need clarification on one thing..

Can you tell me what does this feature do? so that i can record that as well.
![image](https://user-images.githubusercontent.com/31612459/92331611-ae1ab280-f095-11ea-9073-2c8ac6562f11.png)
and more over , shouldn't that generate read me come after config options?

[2020-09-06 17:45] g-savitha opened #97 "Update DSA social links with proper URLs"
Hi, DSA social links are not redirected to exact pages.
Often user is ending up with 404 pages.

[2020-09-06 17:46] g-savitha commented on #97
Assign this to me.

[2020-09-09 04:59] ShubhamSood1406 commented on #96
Hey assign it to me I would like to work on it.

[2020-09-09 05:04] rahuldkjain commented on #95
@priyanshnama cool. Keep Growing💪

[2020-09-09 05:13] rahuldkjain commented on #79
This feature lets you to restore the form using a downloaded backup(JSON) file.
![Screenshot_2020-09-09 GitHub Profile Readme Generator](https://user-images.githubusercontent.com/26406279/92557105-1c739680-f289-11ea-8bee-63cb36ec8e3c.png)

The `reset` button is meant for resetting the form.

[2020-09-09 05:14] rahuldkjain commented on #80
@g-savitha what's the status?

[2020-09-09 05:20] rahuldkjain opened #98 "remove commented code from the whole project"
Please remove the unnecessary comments from every project file.

[2020-09-09 06:07] N00Bmaster2810 commented on #98
can I work on this

[2020-09-09 06:31] AnonySharma opened #99 "CodeForces and CodeChef links throws 'Page not found' error"
**Describe the bug**
When we create a link for CodeForces and CodeChef using this generator, it lands to some unusual page.

**To Reproduce**
Steps to reproduce the behavior:
1. Add your handle in CodeForces and CodeChef section.
2. Click on the resulted image button.
3. See error.

[2020-09-09 06:40] AnonySharma commented on #99
Assign this to me.

[2020-09-09 06:53] ankitapuri commented on #98
Can I also work on this

[2020-09-09 08:39] ankitapuri commented on #29
Can you please elaborate what exactly has to be done in this issue ?

[2020-09-09 12:47] g-savitha commented on #97
Fixed this.

Ref : https://github.com/rahuldkjain/github-profile-readme-generator/pull/102

[2020-09-09 12:59] g-savitha opened #103 "Add a button to upload json file for data backup"
Adding a button to upload the downloaded .json file would make things easier instead of copy-pasting the data from .json file
![image](https://user-images.githubusercontent.com/31612459/92601227-2f5a8b00-f2ca-11ea-8ce2-72f0aec38420.png)

[2020-09-09 13:04] g-savitha commented on #80
Hi, haven't started working on this yet.
Can you give me a head start to get started with this. I have no idea, how to start :|

[2020-09-09 13:16] g-savitha opened #104 "Add username validation for hackerearth and geeksforgeeks links"
Throw a warning, when user enters username in the wrong format.

- For hackerearth, username must begin with: '@'
  - format : `@username`
- For GFG, username must be appended with : '/profile'
  - format: `username/profile`

[2020-09-09 13:16] g-savitha commented on #104
assign this to me @rahuldkjain

[2020-09-10 10:22] rahuldkjain commented on #104
Yep, this will be a good validation. Should I assign this to you?

[2020-09-10 10:24] rahuldkjain commented on #103
Definitely. Users might get confused with current config options. This feature will make it more understandable.

[2020-09-10 10:25] rahuldkjain commented on #98
fixed by #101

[2020-09-10 10:25] #98 closed

[2020-09-10 10:25] rahuldkjain commented on #97
fixed by #102

[2020-09-10 10:25] #97 closed

[2020-09-10 10:26] rahuldkjain commented on #91
Sure, would you like to contribute?

[2020-09-10 10:29] rahuldkjain commented on #87
Please refer https://rahuldkjain.github.io/gh-profile-readme-generator/about

[2020-09-10 10:32] rahuldkjain commented on #89
This looks cool ⚡️. Will definitely integrate.

[2020-09-10 10:34] rahuldkjain commented on #80
@g-savitha refer this https://github.com/gautamkrishnar/blog-post-workflow

[2020-09-10 10:35] rahuldkjain commented on #78
fixed by #92

[2020-09-10 10:35] #78 closed

[2020-09-10 10:36] rahuldkjain commented on #55
fixed

[2020-09-10 10:36] #55 closed

[2020-09-10 10:39] rahuldkjain commented on #29
add features to customize the shape and color of the badge. Currently, the style of the visitors-count badge is constant. This feature will let users to customize the looks of the badge on their own.

[2020-09-10 10:59] antonkomarev commented on #29
It has 3 customizable variables:
- badge style
- background color
- label text

All of them customizable via adding parameters into the query.

[2020-09-10 13:57] ryo-ma commented on #89
Thanks!

[2020-09-10 18:39] g-savitha commented on #104
Yes please

[2020-09-10 18:42] g-savitha commented on #104
Sure :)

[2020-09-11 07:33] Akshat1305 opened #106 "Addition of scikit-learn under AI/ML section."
scikit-learn would be a good addition for Machine Learning.

(https://scikit-learn.org/stable/)

[2020-09-11 12:53] g-savitha commented on #96
did someone made a PR to this?

[2020-09-11 19:53] louis-e commented on #91
Do you know if this would be possible to integrate? After a bit of thinking I still have no idea ^^

[2020-09-11 20:31] isagul commented on #95
Hey, you can assign it to me. I would like to contribute it.

[2020-09-12 04:07] g-savitha commented on #96
assign this to me if no one has made a PR yet.

[2020-09-12 04:09] g-savitha commented on #99
Hey @AnonySharma this issue has been fixed here. https://github.com/rahuldkjain/github-profile-readme-generator/pull/102 . Let me know if you face any issues :)

[2020-09-12 04:20] g-savitha commented on #89
this looks great @ryo-ma  :)

[2020-09-12 04:37] ryo-ma commented on #89
Thank you! @g-savitha

[2020-09-13 17:43] g-savitha commented on #96
This is fixed here :  https://github.com/rahuldkjain/github-profile-readme-generator/pull/108

[2020-09-13 20:21] g-savitha commented on #80
Gotcha. Ok my plan for this enhancement is we just need to add another input field where a user can enter his RSS Feed URL and will display another checkbox similar to Dev.to and medium at the bottom.

[2020-09-14 18:53] LuGO0 commented on #87
perfect get the problem @rahuldkjain !! maybe we should pin this issue so that It dosent gets raised anymore .
closing it 👍

[2020-09-14 18:53] #87 closed

[2020-09-15 08:02] #99 closed

[2020-09-15 10:37] rahuldkjain commented on #106
@Akshat1305 would you like to contribute?

[2020-09-15 12:35] g-savitha commented on #91
Hey @louis-e you can do it. Check this out.  https://github.com/arturssmirnovs/github-profile-readme-generator. This person has coded in vue.js

[2020-09-15 12:41] louis-e commented on #91
Sure, I could contribute and make a function to let the user select his badges.
I thought about making it automatically by crawling the user badges. I thought too complicated😅

[2020-09-15 12:59] louis-e commented on #91
Does anyone know if the icons (https://docs.github.com/en/github/setting-up-and-managing-your-github-profile/personalizing-your-profile#displaying-badges-on-your-profile) are free to use?

[2020-09-15 13:06] rahuldkjain commented on #91
@louis-e @g-savitha is there any need to show these badges again on the GitHub profile because it's already displayed on the profile left panel. Just curious to know your thoughts.

[2020-09-15 13:07] rahuldkjain commented on #91
You can use these for free https://primer.style/octicons/

[2020-09-15 13:08] g-savitha commented on #91
Yeah even I feel they are redundant. Since @louis-e was curious about it, I shared the resource :D . What are your thoughts @louis-e ?

[2020-09-16 06:43] rahuldkjain opened #112 "remove border outline from input elements on focus"
<img width="707" alt="Screenshot 2020-09-16 at 12 09 46 PM" src="https://user-images.githubusercontent.com/26406279/93301105-940b6d80-f815-11ea-8591-4320e40977a8.png">

I am using Mac and every input field is showing border outline on focus. See the above screenshot for reference.

To fix this, one needs to add an `outline-none` class in every input field's className.

Please refer this documentat

[2020-09-16 06:54] rahuldkjain opened #113 "Join Discord Server"
Join Discord Server for discussing issues, pull-requests, new features, etc.

Discord Server Link- https://discord.gg/3PaWnY

[2020-09-16 06:59] #96 closed

[2020-09-16 07:07] #90 closed

[2020-09-16 07:07] #80 closed

[2020-09-16 07:08] #60 closed

[2020-09-16 07:08] #49 closed

[2020-09-16 07:08] #46 closed

[2020-09-16 07:08] #34 closed

[2020-09-16 07:09] #10 closed

[2020-09-16 09:40] g-savitha opened #115 "Integrate waka time api"
Integrate waka time api to show statistics of time spent on programming language

[2020-09-16 10:57] gautamkrishnar opened #116 "Implement push to github"
**Is your feature request related to a problem? Please describe.**
It will reduce the no of steps required to publish the readme

**Describe the solution you'd like**
After generating the readme, there will be a push to github button. By clicking on that button, user will be prompted to enter his PAT and the repo url. Pushing and cloning will be done entirely in the browser, no backend server is r

[2020-09-16 17:52] priyanshnama commented on #95
@rahuldkjain
in case you missed it.

[2020-09-16 17:56] isagul commented on #95
Oops, I mentioned wrong person in my previous comment :(
Hey, you can assign it to me. I would like to contribute it.
@rahuldkjain

[2020-09-17 12:26] #112 closed

[2020-09-17 14:02] louis-e commented on #91
That was just an idea, but your'e right, it's superfluous 👍🏻

[2020-09-17 14:02] #91 closed

[2020-09-21 08:55] Akshat1305 commented on #106
@rahuldkjain Thanks for acknowledging. I wish I could, but I am not good at it. That's the reason I added the enhancement label as a suggestion.

[2020-09-21 09:11] rahuldkjain commented on #115
This action seems fine to me https://github.com/athul/waka-readme

[2020-09-21 09:14] rahuldkjain opened #119 "Add Twitter Badge with followers count in README"
Add a new add-on to display twitter badge with followers-count.

The badge should take the user to the corresponding twitter profile onClick.

[![rahuldkjain](https://img.shields.io/twitter/follow/rahuldkjain?logo=twitter&style=for-the-badge)](https://twitter.com/Rahuldkjain)

[2020-09-21 10:15] rahuldkjain commented on #79
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26406279/93755552-1e424000-fc21-11ea-834f-1d7bdbbea34e.gif)

Refer this.

I used https://chrome.google.com/webstore/detail/screen-recorder/hniebljpgcogalllopnjokppmgbhaden?hl=en chrome extension to record screen.

[ezgif](https://ezgif.com/video-to-gif) to convert video to gif.

[2020-09-21 18:30] MaheshBharadwaj commented on #106
Can i try out this issue, planning to use this [link](https://commons.wikimedia.org/wiki/File:Scikit_learn_logo_small.svg)

[2020-09-23 07:59] g-savitha commented on #95
Found an article recently. This might help you https://dev.to/dip15739/dark-mode-with-only-1-css-property-17fl @priyanshnama

Check this too: in case if you need https://css-tricks.com/dark-modes-with-css/

[2020-09-23 08:00] g-savitha commented on #95
This doesn't work in all cases. Better to test with Dark feeder extension

[2020-09-23 08:01] g-savitha commented on #79
this makes it easy. will check it out.

[2020-09-23 08:02] priyanshnama commented on #95
Sure we will... Thanks 😀

@isagul

[2020-09-23 09:54] #106 closed

[2020-09-24 10:18] ryo-ma commented on #89
@rahuldkjain
How about this issue?

[2020-09-24 10:21] rahuldkjain commented on #89
Will definitely integrate in a few days!

[2020-09-25 06:03] rahuldkjain opened #125 "add resume field under work category"
**Describe the solution you'd like**
Add resume input field between blog and fun fact.
<img width="987" alt="Screenshot 2020-09-25 at 11 30 56 AM" src="https://user-images.githubusercontent.com/26406279/94232002-b7739e00-ff22-11ea-8794-329feef896b3.png">

There will be two fields in the row.
1. Prefix: `📄 Resume`
2. Link: `resume link`

[2020-09-25 06:09] Jigyasa-Kumari commented on #125
Hey, can I work on this?

[2020-09-25 06:10] rahuldkjain commented on #125
@Jigyasa-Kumari sure.
Please join the discord server for further discussions.
Server Link: https://discord.gg/HHMs7Eg

[2020-09-25 06:18] rahuldkjain commented on #125
@Jigyasa-Kumari I have assigned the issue, you can start working now by forking the repository.

[2020-09-25 07:06] rahuldkjain opened #126 "align social icons to the left"
**Is your feature request related to a problem? Please describe.**
The center alignment of social icons seems a bit messy.
<img width="904" alt="Screenshot 2020-09-24 at 12 53 41 PM" src="https://user-images.githubusercontent.com/26406279/94236742-5ac8b100-ff2b-11ea-9c96-8b198c8c4b3d.png">

**Describe the solution you'd like**
Aligning the social icons to the left under the `Connect with me` label

[2020-09-25 07:11] sarbikbetal commented on #126
Can I work on this issue?

[2020-09-25 07:12] rahuldkjain opened #127 "align skills to the left"
**Is your feature request related to a problem? Please describe.**
The center alignment of skill icons seems a bit messy.
<img width="904" alt="Screenshot 2020-09-24 at 12 53 41 PM" src="https://user-images.githubusercontent.com/26406279/94236742-5ac8b100-ff2b-11ea-9c96-8b198c8c4b3d.png">

**Describe the solution you'd like**
Aligning the skill icons to the left under the `Skills & Tools` label wi

[2020-09-25 07:16] rahuldkjain commented on #126
Sure @sarbikbetal. I am assigning the issue. Please join the discord server for further discussions.

[2020-09-25 07:25] Maddoxx88 commented on #119
Hello, I would like to contribute to this issue.

[2020-09-25 08:19] priyanshnama opened #128 "Skills icons to redirect visitor to related website."
### After seeing a particular skill in some profile . the visitor would like to know more about that but unfortunately on clicking the icon the same logo appears in new tab.

**Solution i would like**
link related websites to their logos.
For ex - clicking on python icon should open https://www.python.org/

[2020-09-25 08:21] rahuldkjain commented on #128
@priyanshnama Sounds great. We can easily do this by wrapping the `img` tags by `a` tags.

Would you like to work on this?

[2020-09-25 08:23] priyanshnama commented on #128
@rahuldkjain
Ya i would love to..
can you link the concerned file as i don't have much idea of whole code base as of now.

[2020-09-25 09:04] priyanshnama commented on #128
@rahuldkjain
i think we should create a file with key-value pairs.
key will be the skill and value will be it's related website.
then import them to markdown to js and pass $skill to get the link and then push it. the code snippet should look somewhat similar to
[code]

[2020-09-25 09:26] rahuldkjain commented on #128
Yep, this will solve the problem.
The same must be done in `markdownPreview.js`

[2020-09-25 09:37] sarbikbetal commented on #127
I would like to take this as well :grinning: .

[2020-09-25 11:17] jaideepghosh commented on #128
Hey @rahuldkjain
I want to contribute to solve this issue. Please assign it to me.

[2020-09-25 11:59] #126 closed

[2020-09-25 12:00] #128 closed

[2020-09-25 12:02] sarbikbetal commented on #127
PR: #130 addresses this issue :v:

[2020-09-25 12:03] #127 closed

[2020-09-25 12:07] rahuldkjain opened #131 "add yourself as a contributor in the README"
Only for those who have contributed to this project. PRs of real contributors will be accepted only.

Comment on the Issue asking @all-contributors to add a contributor:
**`@all-contributors please add <username> for <contributions>`**

`<contribution>`: See the [Emoji Key (Contribution Types Reference)](https://allcontributors.org/docs/en/emoji-key) for a list of valid contribution types.

The bo

[2020-09-25 12:10] rahuldkjain commented on #131
@all-contributors please add @g-savitha for Code

[2020-09-25 12:12] sarbikbetal commented on #131
@all-contributors please add @sarbikbetal for code

[2020-09-25 14:26] Hardik0307 commented on #131
@all-contributors please add @Hardik0307 for code

[2020-09-25 15:25] insaurabh commented on #131
@all-contributors please add @insaurabh for Code

[2020-09-25 15:36] ujjwal404 commented on #131
@all-contributors please add @ujjwal404 for code

[2020-09-25 16:27] g-savitha commented on #131
@all-contributors please add @g-savitha for Code

[2020-09-25 16:32] antonkomarev commented on #131
@all-contributors please add @antonkomarev for plugin

[2020-09-25 16:53] CodeSarthak commented on #104
Hey @g-savitha , good idea to add this validation. Let me know if you are still working on this or if you require any help :D

[2020-09-25 17:08] g-savitha commented on #104
Thanks @CodeSarthak :). I haven't started working on this yet. Planning to do this as a part of hacktoberfest :)

[2020-09-25 17:50] YashKandalkar commented on #29
Please assign this to me, I'm planning to add a settings icon right next to the question `display visitors count badge`, which will open a popup to customize the badge. If there are any other suggestions, mention me.

[2020-09-25 17:59] Tailine commented on #103
Hi @rahuldkjain , I would like to work on it

[2020-09-26 07:43] anshdhinhgra47 commented on #131
@all-contributors please add @anshdhinhgra47 for code

[2020-09-26 08:05] alinasahoo commented on #131
@all-contributors please add @alinasahoo for code

[2020-09-26 11:57] isagul commented on #95
According to my research, unfortunately i figured out that markdown does not support color and i decided that adding dark theme into generator page.

[2020-09-26 17:00] YashKandalkar opened #143 "Lengthy text in addons section goes below the checkbox on smaller screens"
**Is your feature request related to a problem? Please describe.**
 Lengthy text in addons section wraps around and goes below the checkbox on smaller screens.
![image](https://user-images.githubusercontent.com/35102959/94345971-192d2880-0047-11eb-9701-7dfe722b7b13.png)

**Describe the solution you'd like**
Center the checkbox vertically, add some left padding to the text
![image](https://user-ima

[2020-09-26 17:37] YashKandalkar commented on #143
@rahuldkjain Also, what do you think of making smaller components to reuse? `In addons.js`, there are 6 same divs (with some props changes) for different addons. A smaller component can be made which can take props like `text`, `inputId`, etc. This isn't much, just makes the code a little cleaner and readable.

![image](https://user-images.githubusercontent.com/35102959/94346813-ca828d00-004c-11eb

[2020-09-26 17:45] rahuldkjain commented on #143
It will be good to follow the DRY principle here. Go on 👍.
I am really thankful for your great suggestions and help.

[2020-09-26 17:51] YashKandalkar commented on #143
Alrighty, I'll do both these changes and make a PR.
No problem :smiley:

[2020-09-26 20:11] antonkomarev commented on #29
One minor notice, there is color `lightgray` in the list, I think it will be better to write it `lightgrey` to match the same naming convention as `grey`.

[2020-09-29 15:41] nidhi-bhanushali commented on #125
Is it that only one person can work on one issue?

[2020-09-29 16:04] rahuldkjain commented on #125
Yup @nidhi-bhanushali. There is no point if more than one people solve the same issue.
Since @Jigyasa-Kumari is not responding, then I think I should assign this issue to you too.

[2020-09-29 16:06] nidhi-bhanushali commented on #125
Great , Thankyou.

[2020-09-29 16:15] rahuldkjain commented on #125
@nidhi-bhanushali
Join Discord Server for discussing issues, pull-requests, new features, etc.

Discord Server Link- https://discord.gg/HHMs7Eg

[2020-09-30 09:01] utsav00 commented on #131
@all-contributors please add @utsav00 for code

[2020-09-30 14:27] YashKandalkar opened #146 "eslint warnings"
**Is your feature request related to a problem? Please describe.**
There are following eslint warnings in the code which are shown during the dev build:
![image](https://user-images.githubusercontent.com/35102959/94697800-3e2adf80-0356-11eb-8f33-0d5a631a296f.png)

**Describe the solution you'd like**
Most of these warnings can be resolved by reading the message they provide.

I can make a PR to re

[2020-09-30 17:09] Maddoxx88 commented on #119
Ohk @rahuldkjain

[2020-10-01 04:48] abhijit-hota commented on #47
Hey! Can you break this down to a smaller issue? Adding unit tests for the whole application is quite big a task.

I'll take it if it's something less general. What all components do I need to test first?

[2020-10-01 04:55] rahuldkjain opened #149 "add Adobe Xd skill in software category"
add Adobe Xd in software category.
<img width="1196" alt="Screenshot 2020-10-01 at 10 24 09 AM" src="https://user-images.githubusercontent.com/26406279/94769694-46276580-03d0-11eb-9a15-50fb99827bcf.png">

SVG Logo: https://cdn.worldvectorlogo.com/logos/adobe-xd.svg

[2020-10-01 04:58] rahuldkjain commented on #47
@abhijit-hota. Just set up the testing configurations. For this issue, you can add a unit test for the `Title` component.

[2020-10-01 04:58] abhaybhatt commented on #149
@rahuldkjain can i work on it?

[2020-10-01 05:00] rahuldkjain commented on #149
Sure @rahuldkjain.

Join Discord Server for discussing issues, pull-requests, new features, etc.
Discord Server Link- https://discord.gg/HHMs7Eg

[2020-10-01 05:06] abhijit-hota commented on #47
Great! I'll take it 👍

[2020-10-01 05:30] xybervenom commented on #149
hey,  I am new to contributing into open source can I directly solve the issue using a pull request or do I have to take some permit/access to solve an open issue?

[2020-10-01 05:54] sarbikbetal commented on #89
can I take this?

[2020-10-01 05:56] g-savitha commented on #40
Assign it to me

[2020-10-01 06:21] vijaygupta18 commented on #149
you can commit here any projects https://github.com/vijaygupta18/Hacktober-2020

[2020-10-01 07:32] rahuldkjain opened #153 "fix discord server link in README"
**Describe the bug**
The Discord Server link in README is invalid.

**Screenshots**
<img width="708" alt="Screenshot 2020-10-01 at 12 59 23 PM" src="https://user-images.githubusercontent.com/26406279/94780513-2f8c0900-03e6-11eb-982c-ada35c828566.png">

**Valid Discord Server Link**
Server Link: https://discord.gg/HHMs7Eg

[2020-10-01 07:33] kala2 commented on #153
Hello, could you assign to me please?

[2020-10-01 07:34] abhaybhatt commented on #153
@rahuldkjain i would love to fix this to get started in open source?

[2020-10-01 07:35] rahuldkjain commented on #153
Join discord server for further discussions related to Hacktoberfest, features, issues, and pull-requests
Server Link: https://discord.gg/HHMs7Eg

[2020-10-01 07:36] rahuldkjain commented on #153
@abhaybhatt I assigned it to @kala2. I'll be opening more issues today, you can pick from them.

[2020-10-01 07:51] Maddoxx88 commented on #131
@all-contributors please add @Maddoxx88  for Code

[2020-10-01 09:40] shajanjp opened #158 "Make titles left alligned"
Make title texts left-aligned. Left-aligned titles are neat and get more attractive from users.

Current:
![Screenshot from 2020-10-01 15-04-51](https://user-images.githubusercontent.com/2943609/94793301-e5138800-03f7-11eb-8391-d9bc7f7e94d7.png)

Expected:
![Screenshot from 2020-10-01 15-05-26](https://user-images.githubusercontent.com/2943609/94793307-e8a70f00-03f7-11eb-910e-a18c09ee9be8.png)

[2020-10-01 09:47] Haqverdi commented on #158
i can fix this

[2020-10-01 10:02] abhaybhatt commented on #149
@rahuldkjain please review it ?

[2020-10-01 10:24] abhijit-hota commented on #131
@all-contributors please add @abhijit-hota for code

[2020-10-01 10:27] abhijit-hota commented on #146
I was going to address this. Great to see it resolved! 😄

[2020-10-01 12:10] sambhavjain9138 commented on #125
Hello @rahuldkjain @nidhi-bhanushali
Incase no one is working on the issue, can i contribute on the same?

Regards,
Sambhav

[2020-10-01 12:18] nidhi-bhanushali commented on #125
I'm!

[2020-10-01 12:18] sambhavjain9138 commented on #79
heyy,
Is the issue still open? And is anyone still contributing to it or I can take it?

Regards,
Sambhav

[2020-10-01 12:33] rahuldkjain commented on #79
Yes @sambhavjain9138. @g-savitha will be fixing this issue.

I'll be opening new issues soon. Meanwhile, join the discord server for quick updates related to issues, pull-requests, and hacktoberfest, etc.

[2020-10-01 12:43] rahuldkjain opened #163 "modify existing footer with new one"
**Is your feature request related to a problem? Please describe.**
The existing footer looks just OK.

**Describe the solution you'd like**
I want to modify the existing footer with a fresh design.
![Footer](https://user-images.githubusercontent.com/26406279/94810399-9541ba80-0411-11eb-98cd-783e9865aa58.png)

**Task**
Develop the above footer structure. No need to add links. I'll open more issues

[2020-10-01 13:06] rahuldkjain opened #164 "redesign about page"
**Is your feature request related to a problem? Please describe.**
The current `/about` page is a little bit messy.
https://rahuldkjain.github.io/gh-profile-readme-generator/about

**Describe the solution you'd like**
I need new and fresh design ideas to revamp the `/about` page

**Tasks**
Suggest designs of the `/about` page in `.png` format.

Join the **Discord Server** for further discussions.

[2020-10-01 13:07] rahuldkjain opened #165 "redesign addons page"
**Is your feature request related to a problem? Please describe.**
The current `/addons` page is a little bit messy.

**Describe the solution you'd like**
I need new and fresh design ideas to revamp the `/addons` page

**Tasks**
Suggest designs of the `/addons` page in `.png` format.

Join the **Discord Server** for further discussions.
Server Link: https://discord.gg/HHMs7Eg

[2020-10-01 13:08] rahuldkjain opened #166 "redesign support page"
**Is your feature request related to a problem? Please describe.**
The current `/support` page is a little bit messy.

**Describe the solution you'd like**
I need new and fresh design ideas to revamp the `/support` page

**Tasks**
Suggest designs of the `/support` page in `.png` format.

Join the **Discord Server** for further discussions.
Server Link: https://discord.gg/HHMs7Eg

[2020-10-01 13:11] Aarush-Goyal commented on #165
@rahuldkjain
Can I do this?

[2020-10-01 13:12] DarkDevCY commented on #166
Can I do this?

[2020-10-01 13:12] rahuldkjain commented on #165
Cool @Aarush-Goyal.

Join the discord server for further discussions.

[2020-10-01 13:13] rahuldkjain commented on #166
Cool @DarkDevCY.
Join the discord server for further discussions.

[2020-10-01 13:13] sarbikbetal commented on #164
I'll take this up.

[2020-10-01 13:14] rahuldkjain commented on #164
Cool @sarbikbetal.

[2020-10-01 13:21] priyanshnama commented on #163
@rahuldkjain i would like to take this one

[2020-10-01 13:23] thauska commented on #163
I can take this

[2020-10-01 13:26] rahuldkjain commented on #163
@priyanshnama You can pick up other issues.

[2020-10-01 13:29] rahuldkjain opened #167 "redesign Header"
**Is your feature request related to a problem? Please describe.**
The current Header is fine, but I need fresh design ideas to make it cool.

**Describe the solution you'd like**
Show your creativity by designing the header.

**Current Header**
<img width="708" alt="Screenshot 2020-10-01 at 6 50 14 PM" src="https://user-images.githubusercontent.com/26406279/94815484-3469b080-0418-11eb-88a4-df04a5

[2020-10-01 13:37] #143 closed

[2020-10-01 13:49] lill74 commented on #164
Could I take this job?

[2020-10-01 13:52] rahuldkjain commented on #164
Sure @lill74. Multiple people can contribute to design issues.

[2020-10-01 13:58] YashKandalkar commented on #131
@all-contributors please add @YashKandalkar for code

[2020-10-01 14:01] sambhavjain9138 commented on #79
Thanks for the update @rahuldkjain

Regards,
Sambhav

[2020-10-01 14:02] sambhavjain9138 commented on #125
Thank for the update @nidhi-bhanushali

[2020-10-01 14:14] priyanshnama commented on #50
@rahuldkjain can you assign this to me.
@acervenky  can you provide with static icons

[2020-10-01 14:15] rahuldkjain commented on #50
Not needed this as of now.

[2020-10-01 14:15] #50 closed

[2020-10-01 14:19] rahuldkjain opened #169 "remove youtube stats from README"
**Is your feature request related to a problem? Please describe.**
Remove `YouTube Stats` from README

<img width="708" alt="Screenshot 2020-10-01 at 7 47 39 PM" src="https://user-images.githubusercontent.com/26406279/94821354-1eabb980-041f-11eb-89a0-720728b95841.png">

Join the **Discord Server** for further discussions.
Server Link: https://discord.gg/HHMs7Eg

[2020-10-01 14:21] pranavgoel29 commented on #167
You just want a PNG of the redesign?

[2020-10-01 14:22] rahuldkjain commented on #167
Yup @pranavgoel29

[2020-10-01 14:24] pranavgoel29 commented on #167
Ok, will going to try to redesign
what are your colour preferences?

[2020-10-01 14:26] rahuldkjain commented on #167
I am building the design style guide to make the design issues easier for contributors.

I will post the updates on the discord server. Please join the discord server.

[2020-10-01 14:34] quintenbuis commented on #169
I'll pick this one up.

[2020-10-01 14:37] m1ga commented on #167
How about some classic Github icon with the text next to it?
https://github.com/m1ga/github-profile-readme-generator/blob/master/README.md

* SVG
* font: Droid Sans (normal, bold)
* one letter spacing between the line and the elements
* line: size of a bold letter baseline

[2020-10-01 15:29] m1ga commented on #167
as an idea: https://github.com/rahuldkjain/github-profile-readme-generator/pull/172
Feel free to use it if you like it

[2020-10-01 15:50] Harshi7016 commented on #158
I can take up this issue,
Is it still open?

[2020-10-01 16:33] #169 closed

[2020-10-01 18:13] MhdSadd opened #174 "Add featherJs to backend development"
have quite some people i know who use featherJs as compare to Express

Would love to add featherJS to the backend frame works

Server Link: https://discord.gg/HHMs7Eg

[2020-10-01 18:50] GabrielModog commented on #163
Can I pick this one?

[2020-10-01 19:18] Aarush-Goyal commented on #165
Hi @rahuldkjain  I have made the pull request with the design add-ons made in a new folder design

[2020-10-01 20:07] jaideepghosh commented on #131
@all-contributors please add @jaideepghosh for code

[2020-10-01 20:15] jaideepghosh commented on #89
Hey @rahuldkjain
I want to contribute to solve this issue. Please assign it to me.

[2020-10-01 21:43] AyushRajSharma commented on #158
i can work with this issue,
please assign me

[2020-10-02 00:34] Rihanat commented on #167
I have already joined the discord server. Do I need any permission to start working on the header? I can redesign the header

[2020-10-02 00:41] Rihanat commented on #166
I can do this

[2020-10-02 05:46] KKVANONYMOUS opened #184 "Add Unity to Other"
@rahuldkjain
I would love to add **Unity-Game Engine** in **Other** as it is quite famous and used by many game developers

Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-02 06:18] rahuldkjain commented on #184
@KKVANONYMOUS Cool. I guess we can create a separate category for game engines.

[2020-10-02 06:33] amitoj-singh commented on #113
Hello,
The server link shows up invalid invite.
How can I join?

[2020-10-02 06:34] rahuldkjain commented on #113
Please share the screen-shot

[2020-10-02 06:38] g-savitha commented on #174
cool. would you like to work on this? @MhdSadd

[2020-10-02 06:38] amitoj-singh commented on #113
Sorry my mistake, I hadn't created my account on discord.
After logging into my account, now I'm able to join.
Thanks.

[2020-10-02 07:05] MuhBayu opened #185 "Add DevOps skills"
**Is your feature request related to a problem? Please describe.**
Add DevOps skills like CI/CD tools and monitoring tools.

Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-02 07:07] g-savitha commented on #185
cool. Shall I assign this to you? As you have already raised a PR

[2020-10-02 07:11] MuhBayu commented on #185
sure, you can assign it to me and also i have already create a PR

[2020-10-02 07:31] g-savitha commented on #89
@sarbikbetal are you working on this?

[2020-10-02 07:45] #185 closed

[2020-10-02 07:45] Darkangeel-hd opened #186 "Add CockroachDB to databases"
I would like to add CockroachDB to the Databases List

CockroachDB is a distributed database service resilient to failures
link here: https://github.com/cockroachdb/cockroach

They are also participating in this Hacktoberfest

[2020-10-02 07:53] KKVANONYMOUS commented on #184
@rahuldkjain Sure!! It's a good idea. I'll work on it

[2020-10-02 08:11] sarbikbetal commented on #89
Yeah but it's fine if there's a PR, unassign me and merge it if you like.

[2020-10-02 08:13] Porush opened #189 "Add kotlin to programming languages"
I would like to add Kotlin to programming languages.

Kotlin is a cross-platform, statically typed, general-purpose programming language with type inference. Also Kotlin is now Google's preferred language for Android app development.

Pull request #187

[2020-10-02 08:34] #158 closed

[2020-10-02 08:43] lill74 commented on #164
@rahuldkjain  Pull Request: #190

[2020-10-02 08:45] g-savitha commented on #189
Kotlin is already present under mobile-dev section.

[2020-10-02 09:02] g-savitha opened #191 "Add 11ty, Scully, Sculpin, Sapper under static site generators"
Add  11ty, Scully, Sculpin, Sapper under static site generators

Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-02 09:07] vivek32ta commented on #191
Hi @g-savitha

I'd love to work on this, if you could assign it to me. Thank.

Best,
Vivek

[2020-10-02 09:07] g-savitha opened #192 "Add GraphQL under skills"
Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-02 09:08] g-savitha commented on #191
sure @vivek32ta

[2020-10-02 09:09] swapneelr09 commented on #192
Can you assign this to me?

[2020-10-02 09:14] g-savitha opened #193 "Add IDEs and text editors under Dev Environment section"
Create a section `Dev environment` and add different IDEs, workbenches, text editors etc

Vim, VSCode, Eclipse, PyCharm, Jupyter notebooks, IntelliJ, Webstorm, Sublime, MySQL workbench, PostBird etc

Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-02 09:16] g-savitha commented on #192
sure @swapneelr09

[2020-10-02 09:19] shngt commented on #193
Hi, mind if I pick this up?

[2020-10-02 09:20] g-savitha commented on #193
Nope. Assigning you this issue

[2020-10-02 09:22] yashrajb commented on #193
can you assign me this issue?

[2020-10-02 09:24] g-savitha commented on #193
sure @yashrajb

[2020-10-02 09:34] Rihanat commented on #164
@rahuldkjain can you please assign me to this

[2020-10-02 09:42] shngt commented on #174
Hi, could you please assign me to this?

[2020-10-02 10:10] Rihanat commented on #167
I would like to work on this issue, please assign it to me

[2020-10-02 10:10] pranavgoel29 commented on #167
Please share the instruction link here too
I am new to the discord so I don't know properly how to use it.

[2020-10-02 10:29] ram170 opened #196 "Add separators to skill sections to differentiate between each easily"
**Is your feature request related to a problem? Please describe.**
It is pretty tough to spot each skill section since there's no separator.

**Describe the solution you'd like**
Add CSS to skill section title to differentiate between each easily.

**Describe alternatives you've considered**
Simple horizontal line after each skill section but it doesn't look good.

**Additional context**
Kinda lik

[2020-10-02 10:33] ram170 commented on #196
@rahuldkjain @g-savitha There's an alternative to add border just to the title span instead of the whole div.  Kindly assign it to me if this should be done

[2020-10-02 11:57] rahuldkjain opened #199 "design a web-page for style-guide"
**Is your feature request related to a problem? Please describe.**
There is a design style-guide which is followed across the whole project

**Describe the solution you'd like**
I want a web-page design to display this style-guide.

**Design Style Guide**
![GPRG Style Guide](https://user-images.githubusercontent.com/26406279/94920635-4dd03280-04d4-11eb-9ef4-1b5302dfc956.png)

**Task**
Your task is

[2020-10-02 11:59] yashrajb commented on #193
i solved this issue. check it out [pull request](https://github.com/rahuldkjain/github-profile-readme-generator/pull/198)

[2020-10-02 12:06] Rihanat commented on #199
Hi @rahuldkjain I would like to design landing page for developers and designers to outsource jobs following the style guide created. Please assign me to this.

[2020-10-02 12:38] rahuldkjain commented on #199
@Rihanat
**Color Codes**
Purple: `#5A01A7`
Orange: `#ED8936`
Green: `#276749`
Blue: `#2C5282`
Black: `#0A0A23`
White: `#FFFFFF`
Gray-1: `#F5F6F7`
Gray-2: `#DFDFE2`
Med-Gray-1: `#D0D0D5`
Med-Gray-2: `#3B3B4F`
Dark-Gray-1: `#2A2A40`
Dark-Gray-2: `#1B1B32`

[2020-10-02 12:40] Maddoxx88 commented on #119
Added complete support for Twitter Badge in [#157](https://github.com/rahuldkjain/github-profile-readme-generator/pull/157) and [#162 ](https://github.com/rahuldkjain/github-profile-readme-generator/pull/162)

[2020-10-02 12:44] #192 closed

[2020-10-02 13:08] #89 closed

[2020-10-02 14:38] sarbikbetal commented on #164
@rahuldkjain  **This is my initial redisign.** We can revamp it more by adding emojis and maybe some vector illustrations as well.
<img width="1440" alt="Desktop - 1 (1)" src="https://user-images.githubusercontent.com/41508422/94935435-b4f8e180-04ea-11eb-8dea-d29d66076258.png">

[2020-10-02 15:06] rahuldkjain commented on #199
@Rihanat you can now make PR by pushing your designs (in .png) in src/designs/<design-name>.png

[2020-10-02 15:07] rahuldkjain commented on #167
You can now make PR by pushing your designs (in .png) in `src/designs/<design-name>.png`

[2020-10-02 15:08] rahuldkjain commented on #166
@DarkDevCY  You can now make PR by pushing your designs (in .png) in `src/designs/<design-name>.png`

[2020-10-02 15:08] rahuldkjain commented on #165
@Aarush-Goyal You can now make PR by pushing your designs (in .png) in `src/designs/<design-name>.png`

[2020-10-02 15:09] rahuldkjain commented on #164
@sarbikbetal You can now make PR by pushing your designs (in .png) in `src/designs/<design-name>.png`

[2020-10-02 16:34] KKVANONYMOUS commented on #131
@all-contributors please add @KKVANONYMOUS  for code

[2020-10-02 17:30] Aarush-Goyal commented on #165
@rahuldkjain sure

[2020-10-02 17:39] Shrman007658 commented on #174
Hey, can I take this up?

[2020-10-02 18:25] Aarush-Goyal commented on #165
@rahuldkjain  I have made a pr for the design pls review it

[2020-10-02 18:41] pro-nav opened #205 "Add some missing logos"
Add the Arduino logo in others section.
[Arduino Logo](https://cdn.worldvectorlogo.com/logos/arduino-1.svg)

Add the MATLAB logo in the programming languages section.
[MATLAB Logo](https://img.icons8.com/nolan/420/matlab.png)

Add the Solidworks logo in the software section.
[Solidworks Logo](https://cdn.worldvectorlogo.com/logos/solidworks.svg)

[2020-10-02 18:42] Darkangeel-hd opened #206 "Add OpenResty to backend development"
OpenResty is a combination of nginx, LuaJIT and many Lua libraries.

It allows developers to build scalable web applications, web services, and dynamic web gateways based on nginx.

It's powerful and popular.

PR #180 add this

[2020-10-02 18:43] MhdSadd commented on #174
I want to go along with this, can i get it assigned

[2020-10-02 18:56] Darkangeel-hd opened #207 "Add Perl to Languages"
Perl is still widely used in the software industry.
Not so much in new developments but it is in old ones.

So it would be nice to have it here.

PR #179

[2020-10-02 19:00] pro-nav commented on #205
MATLAB logo is in .png format so I did not add the following.

[2020-10-02 23:18] vikashgaya916 commented on #207
Hi, I would like to work on this issue. Is it open to be worked on?

[2020-10-03 03:39] stephin007 opened #212 "allow user to add their Sorcerer.io account in the Social section"
**Is your feature request related to a problem? Please describe.**
People these days have Sorcerer.io account, this connects with either our github or gitlab and gives the whole stats of your programming life in gihub like it gives you even the line of code you wrote till date.

**Describe the solution you'd like**
Just adding the sorcerer.io fill up in the social section will do the work

**Descr

[2020-10-03 04:18] KKVANONYMOUS opened #213 "Add a new Category for Text Editors"
I would love to add a new Category of Text Editors (like VS Code, Atoms, Brackets) under Skills sections.

Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-03 04:47] crisgon commented on #213
I would like to take this issue

[2020-10-03 05:28] nidhi-bhanushali commented on #125
I've made a PR for this issue , kindly check.

[2020-10-03 05:29] rahuldkjain commented on #125
@nidhi-bhanushali Please mention the issue in the PR description.

[2020-10-03 05:31] nidhi-bhanushali commented on #125
Okay , I'll edit it

[2020-10-03 06:14] andre-fajar-n opened #215 "Add Hardware, IoT, or Machine Learning icons. Like Arduino, Raspberry Pi, Tensorflow, OpenCV"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
yes, because the icons didn't exist
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
add the icons
**Describe alternatives you've considered**
A clear and concise description of any alternativ

[2020-10-03 06:18] j23saw commented on #215
Hey I would like to work on this issue. Can someone assign it to me?

[2020-10-03 06:18] Maddoxx88 opened #216 "Add a twitter username validation for the badge"
Owing to a GitHub validation already in place for the Visitors Badge we might need a twitter username validation too for the Twitter Badge to make sure we don't make any bad requests from our side.

[2020-10-03 06:34] j23saw opened #217 "A searchbox for making it easier to search skills."
**Is your feature request related to a problem? Please describe.**
There seems to be a lot of options in skills to choose from and manually searching and selecting them makes this a bit of a tedious task.

**Describe the solution you'd like**
I want a searchbox where I can easily filter through the Skills and select them. Makes the workflow a little convenient.

**Describe alternatives you've cons

[2020-10-03 06:35] j23saw commented on #217
I would like to work on this.

[2020-10-03 06:52] lucid-dreem commented on #167
added #218 as an idea, feel free to merge if you like it

[2020-10-03 08:33] yubarajsingh commented on #184
I want to add unreal engine to the game Engines

[2020-10-03 08:43] yubarajsingh opened #220 "add unreal engine to game engine"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-03 08:44] YashKandalkar commented on #217
Great feature! You can also try to remove the tabs which don't have any option left inside after filtering.

[2020-10-03 09:26] YashKandalkar commented on #220
Hello! You're supposed to change the lines under each header, like you can change the first one to

Like this change the bottom descriptions too.

[2020-10-03 09:48] yashrajb commented on #193
Hello, check out [pull request](https://github.com/rahuldkjain/github-profile-readme-generator/pull/198)

[2020-10-03 11:34] Mohitmadhav commented on #167
@rahuldkjain can I work on this?

[2020-10-03 15:44] j23saw commented on #217
Alright! Working on it!

[2020-10-03 18:46] sixthcodebrewer commented on #205
Can I work on the same, I can design one.

[2020-10-03 19:16] Darkangeel-hd commented on #207
@vikashgaya916
I already did it (#179 ) when opening the issue,
but as @rahuldkjain decides
^^

[2020-10-04 04:13] rahuldkjain opened #225 "fix warning in local environment"
**Describe the bug**
A warning is coming up in the local environment.

**To Reproduce**
Run the code locally.

**Expected behavior**
No warning

**Screenshots**
<img width="1014" alt="Screenshot 2020-10-04 at 9 39 55 AM" src="https://user-images.githubusercontent.com/26406279/95006819-08bc1580-0626-11eb-8afe-8fa252b3fc70.png">

Join the **Discord Server** for further discussions.
Server Link: http

[2020-10-04 04:21] #29 closed

[2020-10-04 04:28] #51 closed

[2020-10-04 04:29] rahuldkjain commented on #95
Cool @isagul.

[2020-10-04 05:08] dibakar95 commented on #225
@rahuldkjain  Can i take this issue ?

[2020-10-04 05:09] rahuldkjain commented on #225
Sure @dibakar95.

[2020-10-04 05:29] rahuldkjain commented on #119
fixed by #157 and #162

[2020-10-04 05:29] #119 closed

[2020-10-04 05:42] #146 closed

[2020-10-04 05:50] #149 closed

[2020-10-04 05:52] rahuldkjain commented on #153
fix #156

[2020-10-04 05:52] #153 closed

[2020-10-04 06:04] rahuldkjain commented on #163
any update @thauska?

[2020-10-04 06:10] rahuldkjain commented on #165
@Aarush-Goyal Please make sure to mention the issue number in the pull-request description from next time.

[2020-10-04 06:11] rahuldkjain commented on #166
@DarkDevCY Please make sure to mention the issue number in the pull-request description.

[2020-10-04 06:15] rahuldkjain commented on #167
Sure @Mohitmadhav.

[2020-10-04 06:16] rahuldkjain commented on #167
@m1ga Thanks for the idea. Unfortunately, we won't be using the new logo.

[2020-10-04 06:20] rahuldkjain commented on #184
Sure @yubarajsingh. Open an issue for the same.

[2020-10-04 06:20] #184 closed

[2020-10-04 06:22] #186 closed

[2020-10-04 06:24] #189 closed

[2020-10-04 06:31] #191 closed

[2020-10-04 06:40] rahuldkjain commented on #196
Not necessary right now.

[2020-10-04 06:40] #196 closed

[2020-10-04 06:41] rahuldkjain commented on #199
any update @Rihanat ?

[2020-10-04 06:56] #207 closed

[2020-10-04 06:56] #206 closed

[2020-10-04 07:08] #125 closed

[2020-10-04 07:10] nidhi-bhanushali commented on #125
Thanks for guiding me throughout!

[2020-10-04 07:13] aaditkamat opened #227 "Add VuePress as a static site generator"
Similar to #191. I'm adding one more static site generator under the respective section.

Join the **Discord Server** for further discussions.

Server Link: https://discord.gg/HHMs7Eg

[2020-10-04 07:21] YashKandalkar opened #228 "change version of gatsby-plugin-sharp in package.json"
**Is your feature request related to a problem? Please describe.**
The latest version of `gatsby-plugin-sharp` (2.6.38) has some bugs, as reported by some people.

**Describe the solution you'd like**
Change the version of `gatsby-plugin-sharp` in `package.json`
from

to

So npm doesn't update the version.

[2020-10-04 07:21] Maddoxx88 commented on #216
Added validation for Twitter Badge here #226 .
Although the deployment is showing as "Failed" there aren't any conflicts in my opinion. Still, I'm checking as to why the automated deployment failed.

[2020-10-04 07:35] Mohitmadhav commented on #167
Are you having the original file @lucid-dreem ?
I'm thinking of making some changes to it

[2020-10-04 07:38] lucid-dreem commented on #167
It was a Canva design... https://www.canva.com/design/DAEJhoLekig/share/preview?token=W4CVQNtyqNxfQBhb-NhecA&role=EDITOR&utm_content=DAEJhoLekig&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton

That's the link to edit

[2020-10-04 07:39] Mohitmadhav commented on #167
Thanks

[2020-10-04 08:26] avnish1306 commented on #131
@all-contributors please add @avnish1306 for code

[2020-10-04 12:41] abhijit-hota commented on #131
@all-contributors please add @abhijit-hota for test

[2020-10-04 13:01] KKVANONYMOUS commented on #213
@rahuldkjain Please assign this task to me

[2020-10-04 13:57] #227 closed

[2020-10-04 13:59] DreamsOfImran commented on #228
Hey, can I work on this?

[2020-10-04 14:06] Mohitmadhav commented on #228
Can I get that ?

[2020-10-04 14:08] rahuldkjain commented on #228
@DreamsOfImran You can pick up other issues.

Join the discord server for quick updates related to issues, PRs, and hacktoberfest.
Server Link: https://discord.gg/HHMs7Eg

[2020-10-04 15:41] Mohitmadhav commented on #131
@all-contributors please add @Mohitmadhav for Code

[2020-10-04 15:55] Kalovelo commented on #212
Hello! Could I work on this for hacktoberfest2020 :jack_o_lantern: ? Thanks!

[2020-10-04 20:38] daretobedifferent18 commented on #199
I want to work on this. Can i work on it?

[2020-10-04 20:55] Aarush-Goyal commented on #165
Sure! @rahuldkjain I am a beginner that's why I didn't knew

[2020-10-05 01:09] FatherOfCurses commented on #212
URL is actually https://sourcerer.io/

[2020-10-05 07:46] harshcut opened #236 "host images in project repository"
**Is your feature request related to a problem? Please describe.**
On scrolling through the project, I found that most of the images used are quite old and are taken from a single site.

**Describe the solution you'd like**
I would like to host all images in the project repository itself.

**Describe alternatives you've considered**
None, hosting all images in the project itself would give maximum

[2020-10-05 07:47] harshcut commented on #236
I would like to work on this.

[2020-10-05 13:13] Aditya-ds-1806 commented on #225
Hey, I made a PR that fixes this #237 . Please review.

[2020-10-05 13:14] Aditya-ds-1806 commented on #205
Hey I made a PR that fixes this #237 . Please review

[2020-10-05 20:23] j23saw commented on #217
Here's my attempt
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/34836779/95128250-c6eeb480-0776-11eb-83df-d88c5ace7d36.gif)

[2020-10-06 10:06] harshcut commented on #236
I am creating a preview page for icons, which will be updated as I add more icons. This may help if any icon needs to be changed.

[Preview Icons](https://d07iu.csb.app/)

[2020-10-06 17:05] datejer opened #242 "Add Discord Invite Link to Socials"
**Is your feature request related to a problem? Please describe.**
With Discord being quite a popular platform, I'm surprised that the option to generate a Discord Server Invite Link is not present here.

**Describe the solution you'd like**
I think it would fit really well in the social section, with all of the other links/usernames.

**Describe alternatives you've considered**
You can try adding

[2020-10-06 17:06] datejer commented on #242
I'd love to work on this.

[2020-10-06 17:20] cy commented on #30
Hi! I would like to tackle this.

[2020-10-06 17:45] rahuldkjain commented on #30
Cool @cy

[2020-10-06 17:45] rahuldkjain commented on #30
Please join the discord server for quick updates.

[2020-10-06 17:53] rahuldkjain opened #243 "add PULL_REQUEST_TEMPLATE"
To ensure good quality PRs, the pull-request template is necessary.

[2020-10-06 20:46] msriaz commented on #225
I have added this PR please review #245

[2020-10-07 02:41] thauska commented on #163
#246

[2020-10-07 03:58] #243 closed

[2020-10-07 05:04] j23saw commented on #215
@andre-fajar-n Please elaborate more on your issue so that we can implement it accordingly.

[2020-10-07 10:06] sixthcodebrewer opened #247 "adding Developer stack."
**Problem**
Most of these days look for a full-stack developer in the market, it would be better if we mention the tech stack we work on readme for ease of information.

**Solution**
We can make a field for tech-stack of developer and options like MEAN, MERN, JAM, etc.

**alternatives**
On the options selected by the User, we can highlight the tech stack.

I would Like to work on this feature.!

[2020-10-07 10:28] rahuldkjain commented on #247
Cool @sixthcodebrewer.

[2020-10-07 14:50] #163 closed

[2020-10-07 15:01] rahuldkjain opened #248 "fix margin in mobile screen"
**Is your feature request related to a problem? Please describe.**
Fix the margin of `Frameworks, courses, etc` field on the mobile screen.

**Describe the solution you'd like**
This field should be aligned like other fields

<img width="404" alt="Screenshot 2020-10-07 at 8 28 47 PM" src="https://user-images.githubusercontent.com/26406279/95348806-0682e100-08dc-11eb-97f7-355de462d7a6.png">

Join t

[2020-10-07 15:08] kunaljain0212 opened #249 "CockroachDB icon isn't loading"
**Describe the bug**
cockroachdb icon is broken it is not loading.

**To Reproduce**
Run the code locally OR visit [https://github-profile-readme-generator-beige.vercel.app/](url)

**Expected behavior**
Fix the icon.

**Screenshots**
![Screenshot (33)](https://user-images.githubusercontent.com/56078934/95349711-fcadad80-08dc-11eb-8dd9-1aa475b89a44.png)

Join the **Discord Server** for further disc

[2020-10-07 15:09] kunaljain0212 commented on #249
@rahuldkjain can I work on this, please?

[2020-10-07 16:05] thauska commented on #248
I would like to fix this issue. Assign it to me

[2020-10-08 08:14] ryo-ma opened #252 "When Will you release a new version for the demo page?"
When Will you release a new version for the demo page?
I'm waiting for you to update.

[2020-10-08 13:04] zenby opened #253 "Remove checkboxes near the skill images"
Hello thanks for the great work and cool repo 👍 !

**Is your feature request related to a problem? Please describe.**
I think it might be clearer to hide checkboxes near the skill icon and highlight the images that are selected by user.

**Describe the solution you'd like**
I see several approaches:
- highlighting with borders as circles / lines
- highlighting with scale / color filters of the ima

[2020-10-08 16:54] #249 closed

[2020-10-08 17:12] amruta-kashikar commented on #131
@all-contributors please add @amruta-kashikar for code

[2020-10-08 17:54] YashKandalkar commented on #228
Closing, fixed in #241

[2020-10-08 17:54] #228 closed

[2020-10-08 23:17] ryo-ma commented on #252
OK. Thank you for updating.

[2020-10-08 23:17] #252 closed

[2020-10-09 08:31] andre-fajar-n commented on #215
when I want to use github readme generator, I want to add the icon of arduino, raspberry pi, etc. But the icon didn't exist

[2020-10-09 18:54] msriaz commented on #253
@rahuldkjain I would love to open a PR on this enhancement. Please let me know how to get it assigned?

[2020-10-10 05:27] BRAVO68WEB opened #258 "Adding more framework as a skill"
**What can be done?**
Adding Hexo Framework as a skill under "Static Site Generators"
Adding Heroku as a skill under "BaaS"
Adding more Programing Languages
Adding Unreal Engine as a skill under "Game Engines"

**Hexo**
![https://hexo.io/](https://hexo.io/icon/favicon-96x96.png)
**Heroku**
![https://heroku.com](https://www.herokucdn.com/favicons/favicon.ico)
**Unreal Engine**
![https://unrealengin

[2020-10-10 05:28] BRAVO68WEB commented on #258
@rahuldkjain Can you assign me?

[2020-10-10 05:28] sixthcodebrewer commented on #247
#257 created Pull Request.

[2020-10-10 05:53] BRAVO68WEB commented on #258
Thx

[2020-10-10 07:38] zenby commented on #253
@msriaz I've mentioned in the first message

@rahuldkjain does this improvement make sense for you?

[2020-10-10 15:10] MaheshBharadwaj opened #260 "[Feature] Display top github repository in the README"
**Is your feature request related to a problem? Please describe.**
Currently we don't showcase the best repo of the user on the README

**Describe the solution you'd like**
A card like [this](https://github-readme-stats.vercel.app/api/pin/?username=rahuldkjain&repo=github-profile-readme-generator) additionally we can include styling and maybe `buy me a coffee` and `paypal` buttons in that card

**

[2020-10-10 15:32] MaheshBharadwaj commented on #131
@all-contributors please add @MaheshBharadwaj for code

[2020-10-10 15:35] MaheshBharadwaj commented on #131
@rahuldkjain is add-contributor broken or was the request incorrect?

[2020-10-11 09:15] daretobedifferent18 commented on #248
If no one is working on it, I want to work on this issue.

[2020-10-11 09:17] daretobedifferent18 commented on #166
If no one is working on it, I want to work on this issue.

[2020-10-11 09:50] rahuldkjain commented on #248
@thauska is working on it.

[2020-10-11 09:59] rahuldkjain opened #261 "add conditional rendering of Connect With Me title in social"
**Is your feature request related to a problem? Please describe.**
Connect with me title is appearing even when there is no social handle is entered.

<img width="367" alt="Screenshot 2020-10-11 at 3 25 45 PM" src="https://user-images.githubusercontent.com/26406279/95675656-7643e500-0bd6-11eb-9ced-f8f2f8eca6ce.png">

**Describe the solution you'd like**
Add a condition to show `Connect with me` ti

[2020-10-11 10:02] #217 closed

[2020-10-11 10:05] ddaniss commented on #261
I'd like to give it a try

[2020-10-11 10:06] kunaljain0212 commented on #261
I would like to work on it

[2020-10-11 10:27] rahuldkjain opened #262 "make footer mobile responsive"
**Is your feature request related to a problem? Please describe.**
The current footer is not mobile responsive.

**Describe the solution you'd like**
Make the footer mobile responsive by following the design below:

![Mobile Footer-GPRG](https://user-images.githubusercontent.com/26406279/95676270-6f1ed600-0bda-11eb-875a-8dbaea0ce4d1.png)

Join the **Discord Server** for further discussions.

Serve

[2020-10-11 10:34] rahuldkjain opened #263 "add issues and pull-requests links in footer under more category"
**Is your feature request related to a problem? Please describe.**
There is no link to direct the user to open issues and PRs.

**Describe the solution you'd like**
Add issues and pull-requests links in the footer under more category

![Footer](https://user-images.githubusercontent.com/26406279/95676388-65e23900-0bdb-11eb-9081-af2889883e12.png)

Join the **Discord Server** for further discussions.

[2020-10-11 10:40] pollyj commented on #262
Hey @rahuldkjain, can I help you with this? :)

[2020-10-11 10:41] rahuldkjain commented on #262
Cool @pollyj. Join the discord server for further discussions with the community.

[2020-10-11 11:02] dalmia007 commented on #263
I would like to do this. Can you please assign it to me?

[2020-10-11 11:04] rahuldkjain commented on #263
Cool @dalmia007. Please join the discord server for further discussions.

[2020-10-11 11:37] #225 closed

[2020-10-11 11:41] #30 closed

[2020-10-11 12:14] KKVANONYMOUS commented on #213
@rahuldkjain @g-savitha
I see that the issue is still open with no further advancements. Please allow me to work on this

[2020-10-11 13:34] BRAVO68WEB commented on #258
Done

[2020-10-11 13:34] #258 closed

[2020-10-11 14:45] dalmia007 commented on #263
@rahuldkjain I have already created a pull request for this issue. The PR number is 265

[2020-10-11 18:18] sarbikbetal commented on #261
Can I work on this?

[2020-10-12 11:54] dsnehasish74 commented on #213
If any one is not working I can add this .............. please assign this to me

[2020-10-14 05:32] #236 closed

[2020-10-14 05:43] harshcut commented on #131
@all-contributors please add @harshcut for code

[2020-10-14 06:51] zenby opened #270 "Infinite requests if app is on background"
**Describe the bug**
I've noticed that when I have https://rahuldkjain.github.io/gh-profile-readme-generator opened in browser in background for a long time then I have http errors at requests with 403 status code. If I restart the page I see only zero forks & stars at header because the new request returns with error. After it web-app stops working as expected.
I think it's because of `X-Ratelimi

[2020-10-14 06:51] zenby commented on #270
Should be fixed by https://github.com/rahuldkjain/github-profile-readme-generator/pull/268

[2020-10-15 04:39] #205 closed

[2020-10-16 05:32] harshcut opened #272 "ES6 syntax for object"
**Is your feature request related to a problem? Please describe.**
New in JavaScript with ES6/ES2015, if you want to define an object who's keys have the same name as the variables passed-in as properties, you can use the shorthand and simply pass the key name.

Current ES5 Syntax

[code]

Change to ES6 Syntax

[code]

**Describe the solution you'd like**
Object Property Value Shorthand in JavaScr

[2020-10-16 06:39] sixthcodebrewer commented on #272
I would like to work on this.

[2020-10-16 07:02] harshcut commented on #272
Let @rahuldkjain confirm if this is needed.

[2020-10-16 11:56] rahuldkjain commented on #272
Go on @sixthcodebrewer 👍

[2020-10-16 12:45] samriddhisv commented on #167
hey, I'm comfortable working with Canva and photoshop. Please assign the task to me along with the specifications that you need.

[2020-10-16 12:47] samriddhisv commented on #164
hey, I'd like to contribute to this!

[2020-10-16 12:48] samriddhisv commented on #165
hey, I'd like to contribute to this!

[2020-10-16 12:49] samriddhisv commented on #166
If no one is working on it, I want to work on this issue

[2020-10-16 16:38] daretobedifferent18 commented on #166
Actually I am working on it.

[2020-10-16 22:08] hieuhair opened #274 "Yêu cầu tính năng / nâng cao"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-17 12:58] harshcut commented on #274
Closing the issue due to spam.
Is this a mistake? Open a New Issue linking this issue for reference.

[2020-10-17 12:58] #274 closed

[2020-10-18 03:11] #261 closed

[2020-10-18 03:15] rahuldkjain commented on #263
fix by #265.

[2020-10-18 03:15] #263 closed

[2020-10-18 07:17] kunaljain0212 opened #275 "Format the code using Prettier"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Code to formatted uniformly.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any othe

[2020-10-18 07:17] kunaljain0212 commented on #275
@rahuldkjain Could you please assign this to me?

[2020-10-18 08:10] YashKandalkar opened #276 "Add a coding style guideline"
**Is your feature request related to a problem? Please describe.**
There should be a guideline for the code contributions to this repo to maintain quality of code.

**Describe the solution you'd like**
A coding style guide which contributors can follow when making PRs.
Best practices for React can be taken from [this](https://github.com/airbnb/javascript/tree/master/react) guide.

[2020-10-18 11:37] rahuldkjain opened #278 "use of local SVG icons made README.md look bad"
**Is your feature request related to a problem? Please describe.**
Using local SVG icons made the README.md look complex.

**Describe the solution you'd like**
Rollback to the old way of using skill icons(SVG)

<img width="1316" alt="Screenshot 2020-10-18 at 10 03 57 AM" src="https://user-images.githubusercontent.com/26406279/96366267-321b8c00-1164-11eb-923e-4680fb2e8605.png">

Join the **Discord

[2020-10-18 12:26] rahuldkjain opened #279 "fix ESLintError warnings in local dev environment"
**Is your feature request related to a problem? Please describe.**
There are so many warnings coming up while running the tool in the local dev environment.

**Describe the solution you'd like**
Fix the warnings

<img width="1431" alt="Screenshot 2020-10-18 at 5 53 03 PM" src="https://user-images.githubusercontent.com/26406279/96367384-24b5d000-116b-11eb-8b81-abbff6196273.png">

Join the **Discord

[2020-10-18 12:59] Kishore-abhimanyu commented on #279
Can you assign this issue to me? I like to work on this

[2020-10-18 13:09] Kishore-abhimanyu commented on #279
can you please tell me the procedure to reproduce the error?

[2020-10-18 13:10] rahuldkjain commented on #279
1. Clone the repo and go into to the project directory
2. run `npm install`
3. run `gatsby develop`

You can see the warnings in the terminal.

[2020-10-18 14:06] YashKandalkar opened #281 "bug: no matlab icon link"
**Describe the bug**
There's matlab in the skills [array of softwares](https://github.com/rahuldkjain/github-profile-readme-generator/blob/dc0f39105abad925d8575b1bda47bc3d2ed24a1f/src/constants/skills.js#L176) but no `matlab` key in the `icons` object.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://rahuldkjain.github.io/gh-profile-readme-generator/
2. Scroll to software secti

[2020-10-18 15:57] bhavika24 commented on #281
Hi @rahuldkjain,
I would like to work on this. Please assign it to me.

[2020-10-19 02:35] #278 closed

[2020-10-19 02:36] #270 closed

[2020-10-19 04:43] #131 closed

[2020-10-19 05:05] Aditya-ds-1806 commented on #131
@all-contributors please add @Aditya-ds-1806 for code

[2020-10-19 13:28] harshcut commented on #272
Closing this issue as it is no longer needed. We have switched back to web hosted URLs.

[2020-10-19 13:28] #272 closed

[2020-10-20 00:56] g-savitha commented on #79
Hey @sambhavjain9138 you can take this up if you want to work on this.

[2020-10-20 01:46] g-savitha commented on #213
@rahuldkjain can we close this? as we discussed this would be an invalid scenario

[2020-10-20 04:51] YashKandalkar commented on #281
Closing, fixed in #282

[2020-10-20 04:51] #281 closed

[2020-10-20 04:52] YashKandalkar commented on #276
Closing, resolved in #277

[2020-10-20 04:52] #276 closed

[2020-10-20 15:16] kunaljain0212 opened #285 "Spacing issues in the footer"
**Describe the bug**
Spacing issues in the footer (Pull requests and issues button)

**To Reproduce**
Fix the spacing issues.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![WhatsApp Image 2020-10-20 at 8 44 47 PM](https://user-images.githubusercontent.com/56078934/96606714-34711800-1315-11eb-80ca-dafcd6521efa.jpeg)

**Desktop (please compl

[2020-10-20 19:04] datejer commented on #242
Opened PR #286 for this issue.

[2020-10-21 07:48] datejer opened #287 "Social button generator adding "/" even when there is no url base."
**Describe the bug**
Whenever a social button is generated it takes the URL base and the username and puts a "/" in between them. This might cause a problem with the RSS URL. Since it takes a whole URL from the user there's no base URL. That causes it to generate with a / in front of the link provided by the user. In this case, the hyperlink is interpreted as a subpage, not an external website.

*

[2020-10-21 07:50] datejer commented on #287
This would be a relatively easy fix, I reckon I can do this one.

[2020-10-22 00:08] CalvinWu4 opened #291 "Add Microsoft SQL Server skill"

[2020-10-23 11:13] rahuldkjain opened #292 "add unit test case for subtitle component"
**Description**
Add a unit test case for the `subtitle` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471e

[2020-10-23 11:24] ankurchaudhary627 commented on #275
Can you please assign this issue to me? @rahuldkjain

[2020-10-23 11:24] ankurchaudhary627 commented on #292
Can you please assign this issue to me? @rahuldkjain

[2020-10-23 11:29] Mohitmadhav commented on #79
@rahuldkjain can I take this up?

[2020-10-23 11:32] ankurchaudhary627 commented on #275
In this issue its just that we need to format using Prettier in all the files?
@rahuldkjain

[2020-10-23 11:33] rahuldkjain commented on #79
You can record the screen using this amazing chrome [extension](https://chrome.google.com/webstore/detail/screen-recorder/hniebljpgcogalllopnjokppmgbhaden?utm_source=chrome-ntp-icon).

You can convert video to gif using [Ezgif Converter](https://ezgif.com/video-to-gif).

Please try to do this as soon as possible. This issue is pending for a long time now.

[2020-10-23 11:34] rahuldkjain commented on #275
You have to add a prettier config file at the root of the project.

[2020-10-23 11:35] ankurchaudhary627 commented on #275
Okay got it

[2020-10-23 11:49] rahuldkjain opened #293 "add unit test cases for skills component"
**Description**
Add a unit test case for the `skills` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:50] rahuldkjain opened #294 "add unit test cases for addons component"
**Description**
Add a unit test case for the `addons` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:52] rahuldkjain opened #295 "add unit test cases for donate component"
**Description**
Add a unit test case for the `donate` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:52] rahuldkjain opened #296 "add unit test cases for footer component"
**Description**
Add a unit test case for the `footer` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:53] rahuldkjain opened #297 "add unit test cases for header component"
**Description**
Add a unit test case for the `header` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:54] rahuldkjain opened #298 "add unit test cases for loader component"
**Description**
Add a unit test case for the `loader` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:55] rahuldkjain opened #299 "add unit test cases for markdown component"
**Description**
Add a unit test case for the `markdown` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471e

[2020-10-23 11:55] rahuldkjain opened #300 "add unit test cases for markdownPreview component"
**Description**
Add a unit test case for the `markdownPreview` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a

[2020-10-23 11:56] rahuldkjain opened #301 "add unit test cases for social component"
**Description**
Add a unit test case for the `social` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecf

[2020-10-23 11:57] rahuldkjain opened #302 "add unit test cases for work component"
**Description**
Add a unit test case for the `work` component

**Describe the solution you'd like**
You can get an idea from the test case written for the `title` component.
[code]

**Note**
Add your unit tests in `src/components/__tests__`

Join the **Discord Server** for further discussions.
<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa

[2020-10-23 12:19] Mohitmadhav commented on #79
Ok..I am on it.

[2020-10-23 12:33] carlospatinos commented on #296
can you please assign this to me. Thx

[2020-10-23 12:43] rahuldkjain commented on #296
@carlospatinos You can join our discord community for quick updates.

[2020-10-23 13:07] VeenaDesai38 commented on #302
@rahuldkjain I would like to take up the task of adding unit tests to the components mentioned in the issues.

[2020-10-23 13:08] Mohitmadhav commented on #79
[](url)
![github-profile-readme-generator (modified)](https://user-images.githubusercontent.com/59333817/97007377-f109ea00-155e-11eb-9217-627b42c52a25.gif)

[2020-10-23 13:09] Mohitmadhav commented on #79
@rahuldkjain is it fine??
Can I make a PR then?

[2020-10-23 13:19] rahuldkjain commented on #79
@Mohitmadhav Please try to fill up all the fields and use search-skill, and at least one customization feature.

P.S: Please crop the scrollbar too.

[2020-10-23 13:20] rahuldkjain commented on #302
Cool @VeenaDesai38. You can join our discord server for quick discussions and updates related to the project.

[2020-10-23 13:24] Tekipeps commented on #301
i will like to work on this thanks

[2020-10-23 13:25] rahuldkjain commented on #301
Cool @Tekipeps. You can join our discord community for quick discussions and updates related to the project.

[2020-10-23 14:27] Mohitmadhav commented on #79
@rahuldkjain the recorder isn't showing the color filler tool while modifying the color...

[2020-10-23 15:18] harshcut commented on #79
For the input field, I would be better if you to keep the values neutral.

[2020-10-23 15:35] Mohitmadhav commented on #79
![github-readme-profile-generator](https://user-images.githubusercontent.com/59333817/97023535-43ed9c80-1573-11eb-870f-8d295879039a.gif)

ok @harshcut ..but it isnt affecing much now I guess ..Have a look @rahuldkjain

[2020-10-23 15:54] lowlighter opened #305 "Add new add-on GitHub metrics"
**Is your feature request related to a problem? Please describe.**
Do you think that adding a new option to the add-on section to integrate [metrics](https://github.com/lowlighter/metrics) into this project would be interesting ?

**Describe alternatives you've considered**
There are already add-ons which may overlaps with this one, but could still be useful for users who would like to display mor

[2020-10-23 17:08] VeenaDesai38 commented on #302
sure. thanks.
@rahuldkjain Here is the PR adding unit tests for work component https://github.com/rahuldkjain/github-profile-readme-generator/pull/307
I also modified title.test.js to bring thee coverage to 100%. Let me know you thoughts on this.
<img width="613" alt="Screen Shot 2020-10-23 at 10 34 43 PM" src="https://user-images.githubusercontent.com/73214669/97033083-66d27d80-1580-11eb-806b-5f6

[2020-10-23 19:11] zenby commented on #298
Hello!
I'd like to work on this.

[2020-10-23 19:16] Citrinin commented on #298
Hello!
I'd like to work on this!
Thank you!

[2020-10-23 19:34] zeaus commented on #300
Hi @rahuldkjain,
I would like to work on this.

[2020-10-23 20:08] Citrinin commented on #295
Hello Rahul Jain.
Can I take this one??
Thanks in advance!

[2020-10-23 20:28] Citrinin commented on #297
Hello!
Can I work on this?

[2020-10-24 00:33] wandersonpsantos commented on #299
can i make this issue?

[2020-10-24 02:43] rahuldkjain commented on #299
Cool @wandersonpsantos. You can join our discord server for further discussions & updates.

[2020-10-24 02:44] rahuldkjain commented on #297
Cool @Citrinin. You can join our discord server for further discussions & updates.

[2020-10-24 02:45] rahuldkjain commented on #302
Superb @VeenaDesai38

[2020-10-24 02:47] rahuldkjain commented on #300
Cool @zeaus. You can join our discord server for further discussions & updates.

[2020-10-24 06:07] #291 closed

[2020-10-24 06:30] #296 closed

[2020-10-24 06:36] #298 closed

[2020-10-24 08:16] zeaus opened #313 "Refactoring Sub-Components in Markdown Preview Component"
**Issue**
There are multiple subcomponents being used inside markdownPreview component and they don't have a separate existence.

**Solution**
Moving subcomponents outside of the markdownPreview component above in the same file so they have a separate existence.

**Alternative Solution**
Moving subcomponents in their separate files.

Join the **Discord Server** for further discussions.

<a href="h

[2020-10-24 08:20] zeaus commented on #313
Hi @rahuldkjain,
Please assign this to me.

[2020-10-24 08:23] anusha5695 commented on #294
@rahuldkjain I can pick this

[2020-10-24 08:50] anusha5695 commented on #294
@rahuldkjain added snapshot test :)

[2020-10-24 17:11] mamoanwar97 commented on #279
i solved this in thar pr #233

[2020-10-24 17:12] mamoanwar97 commented on #279
i solved this on this pr # #283

[2020-10-25 05:55] adriens opened #320 "Consider add Katacoda as a social platform (with twitter, GH, dev.to, ...)"
When in the social section of the generator, add [Katacoda](https://www.katacoda.com) as an option.

**Describe alternatives you've considered**
N/A

Thanks  a lot for your tool, it rocks !

[2020-10-25 09:54] Citrinin opened #322 "Make tests rely on one testing library"
**Describe the bug**
After mergin this PR https://github.com/rahuldkjain/github-profile-readme-generator/pull/307 we add `enzyme` testing library and remove `react-test-rederer`. After it all other tests stop working because they continue to rely on it. So I think it's worth to update it and refactor a little bit.

**Expected behavior**
All the tests works.

[2020-10-25 09:55] Citrinin commented on #322
I'd like to work on this issue.

[2020-10-25 09:55] Citrinin commented on #322
Will be fixed by https://github.com/rahuldkjain/github-profile-readme-generator/pull/321

[2020-10-25 09:56] rahuldkjain commented on #322
@Citrinin it will be easy to discuss if you join the discord server.

[2020-10-25 17:14] ronan696 commented on #320
Hey! I'd like to take this up.

I did notice that Simple Icons does not contain the Katacoda icon. Have opened an issue in their repo and may most likely also create a PR for it. https://github.com/simple-icons/simple-icons/issues/3765

[2020-10-26 02:56] DenverCoder1 opened #324 "Adding GitHub Streak Stats - New dynamic card to display current and longest contribution streak"
Link to repo: https://github.com/DenverCoder1/github-readme-streak-stats

Example:

![image](https://user-images.githubusercontent.com/20955511/97129402-85cf3c00-1747-11eb-8e1c-b32e5b0bbb67.png)

I will be creating a PR to add this feature very soon.

[2020-10-26 09:52] adriens commented on #320
This is very interesting, as in the mean time I asked for this to shields.io : https://github.com/badges/shields/issues/5758

[2020-10-26 15:08] #322 closed

[2020-10-27 15:18] Citrinin commented on #295
Closed as it's done already.

[2020-10-27 15:18] #295 closed

[2020-10-27 15:19] Citrinin commented on #297
Close because it's done already.

[2020-10-27 15:19] #297 closed

[2020-10-27 15:19] #292 closed

[2020-10-27 15:20] #299 closed

[2020-10-27 15:20] #302 closed

[2020-10-27 15:21] #300 closed

[2020-10-27 15:56] #313 closed

[2020-10-27 15:57] #216 closed

[2020-10-27 16:14] #103 closed

[2020-10-28 19:36] #301 closed

[2020-10-28 19:39] #293 closed

[2020-10-30 19:56] #294 closed

[2020-10-30 23:17] adriens commented on #320
For now, no anwser from Oreilly support team, but I have released an article that embeds this issue: https://www.linkedin.com/posts/adrien-sales_katacoda-freedom-inspiration-activity-6728075471919157248-QFID

[2020-10-31 13:05] ronan696 commented on #320
@adriens, really nice article!

I've also created a PR in https://github.com/simple-icons/simple-icons to add Katacoda icon
https://github.com/simple-icons/simple-icons/pull/3790

[2020-10-31 16:35] ankurchaudhary627 commented on #275
PR is raised for this issue. Kindly check. @rahuldkjain

[2020-10-31 16:38] ankurchaudhary627 opened #330 "Add capability to verify each commit's sanity as per linter rules."
**Is your feature request related to a problem? Please describe.**
Currently, while committing the code there is no eslint rules check.
It would be good to enforce eslint rules on each git commit. That is when the eslint will run and block the user from committing code which is not as per the ESLint rules, so that the codebase is aligned to the rules configured.

**Describe the solution you'd like

[2020-10-31 16:38] ankurchaudhary627 commented on #330
Could you please assign this to me? @rahuldkjain

[2020-10-31 17:55] ankurchaudhary627 opened #331 "Fixing the eslint errors and warnings"
**Describe the bug**
The bug is that currently in the codebase there are eslint errors and warnings

**To Reproduce**
Steps to reproduce the behavior:
Run `npm run lint` to see the errors and warnings from project root directory.

**Expected behavior**
No errors and warnings from eslint.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Screenshot 2020-10-31 at 11 23

[2020-10-31 17:55] ankurchaudhary627 commented on #331
@rahuldkjain  could you please assign this issue to me?

[2020-11-06 07:41] adriens commented on #320
Awesome, things are really cool!

[2020-11-08 18:13] HeitorAugustoLN opened #333 "Adding lua to programming languages"
Link to repository: https://github.com/HeitorAugustoLN/github-profile-readme-generator/tree/heitoraugustoln-add

Screenshot:

![image](https://user-images.githubusercontent.com/44377258/98473814-ee043000-21d3-11eb-9686-46526d93670d.png)

[2020-11-08 18:30] HeitorAugustoLN opened #334 "Adding Roblox Studio to Game Engines"
I will create an PR soon for this enhacement

[2020-11-10 10:14] stephin007 commented on #212
@rahuldkjain can  you please assign me this?

[2020-11-11 19:34] bu4ak opened #335 "Add PHPUnit testing skill"
PHPUnit is a unit testing framework for the PHP programming language.

[2020-11-11 19:45] bdw429s opened #337 "Add CFML (ColdFusion) language"
Please add CFML (ColdFusion) language

There are a couple popular CF engines; Adobe ColdFusion and Lucee Server which have different logos, but the Adobe one (which tends to change every release) is the most recognizable.

https://www.adobe.com/content/dam/cc/us/en/products/coldfusion/coldfusion-builder/home/cf_logo_svg.svg

[2020-11-22 15:58] vvkpd commented on #333
I would like to work on this card, Could you please assign to me?
Thanks!!!

[2020-11-22 16:04] HeitorAugustoLN commented on #333
@vvkpd I already created a PR for this issue, I just created this issue because you need make a issue to do a contribution

[2020-11-22 16:17] vvkpd opened #338 "Adding kotlin to programming languages"
Right now, User does not have a way to add kotlin as a programming language.
I will create a pr soon for this task. Please assign to me ?

[2020-11-29 07:16] #324 closed

[2020-12-01 06:43] harshcut commented on #338
**Kotlin** is already present under **Mobile App Development**

[2020-12-04 21:44] adriens opened #341 "Testing > Add htmlunit"
Hi, in the testing section, it could be interesting to add htmltunit as we can perform the same kind of tasks than Selenium

![image](https://user-images.githubusercontent.com/5235127/101217812-151c2780-36d6-11eb-8ee8-d72a971748e5.png)

[2020-12-04 21:46] adriens opened #342 "Automation > Add IFTTT"
IFTTT does the same job than zapier, so it could be interesting to add it:

![image](https://user-images.githubusercontent.com/5235127/101217942-53b1e200-36d6-11eb-99fe-f075805e63b5.png)

[2020-12-04 21:47] adriens opened #343 "Automation > add Power Automate"
it does the same job than zapier or IFTTT:

![image](https://user-images.githubusercontent.com/5235127/101218060-80fe9000-36d6-11eb-9cda-4c4bfd30d797.png)

[2020-12-16 08:42] avinal commented on #115
Hello @rahuldkjain,
I think this project focuses on modularity and extensibility. Also, different people prefer different styles. It would be better to include both the projects with options to choose from since the configuration is just a matter of few words here and there.

P.S - I am the maintainer of the project suggested by @g-savitha. I was actually inspired by Athul 😄. He did a really nice

[2020-12-16 09:14] marimeireles opened #345 "Contact me icons are "invisible" on dark theme"
Hey, with the new github dark theme the black icons get invisible almost.
Would be nice to be able to tweak their colors, or better yet, use a default that will show up in both themes.
I'd suggest the blue color that github uses for links and stuff.
Lemme know what you think about it. I can open a PR making this change, cheers!

[2020-12-17 03:28] rahuldkjain commented on #345
Thanks @marimeireles for opening this issue. It would be great if you could open a PR for the same 🙇‍♂️.

[2020-12-17 06:11] rahxuls opened #346 "Hashnode platform add"
You can add the amazing hashnode platform link in this amazing project also.

[2020-12-17 12:30] marimeireles commented on #345
What's a good approach for this?
Painting the icons blue?
I'm not very knowledgeable on CSS but I think there is a `media` option that allows you to get the theme from the page, and that'd allow us to create something dynamic. But again, idk much about it and also not sure about the interactions with MD.

[2020-12-18 07:46] rahuldkjain commented on #345
@marimeireles we need to pick theme neutral icons to solve this issue.

[2020-12-19 05:55] nazir-hussain opened #347 "Feature/Enhancement request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-20 16:31] ronan696 commented on #320
This PR was merged and the Katacoda icon is now available in the Simple Icons repo 🎉

@rahuldkjain, I would like to create a PR to address this issue. Could you please assign it to me?

[2020-12-20 21:41] adriens commented on #320
Things are going well this end of year 💟 🎅

[2020-12-23 05:43] harshcut commented on #347
I don't see any lines that describe a feature.

[2020-12-23 20:31] adriens commented on #320
See https://www.linkedin.com/posts/adrien-sales_simple-icons-activity-6747608968018964480-H8Zs

See #348

[2020-12-24 06:12] advaittrivedi1122 opened #349 "Add R programming language"
I would love to see R programming language in the list of programming language icons so that it would be easier for programmers like me to add it on the profile...
If not possible, I would like to have some help on how to add it otherwise manually.

[2020-12-28 13:23] #349 closed

[2021-01-03 01:36] saitharunsai opened #350 "images are not able to loaded in the website"
[**Describe](https://rahuldkjain.github.io/gh-profile-readme-generator/) the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'website'
2. See error
3. change the devicon links to get reflected

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-01-03 02:58] EliazBobadilla opened #351 "Images don't appear"
**Describe the bug**
Images don't appear

**To Reproduce**
Go to https://rahuldkjain.github.io/gh-profile-readme-generator/ or my Readme repo and see.

**Expected behavior**
I expect to see the images.

**Screenshots**
![image](https://user-images.githubusercontent.com/71897736/103470795-0fe9e100-4d45-11eb-83de-1bc5a307b638.png)
![image](https://user-images.githubusercontent.com/71897736/103470801

[2021-01-03 03:00] EliazBobadilla commented on #351
I don't use Discord uwun't.

[2021-01-03 06:31] Su-Kyung commented on #351
I've the same issue. Image link path seems to be wrong. Do I have to solve it in my personal repo?

[2021-01-03 06:45] Vishal1297 commented on #351
I too have the same issue.

[2021-01-03 09:21] rahuldkjain commented on #351
@Vishal1297 @Su-Kyung @EliazBobadilla the cdn image url for devicon have changed. I am solving this issue

[2021-01-03 09:25] rahuldkjain commented on #350
@saitharunsai  the cdn image url for devicon have changed.
Would you like to solve this bug?

[2021-01-03 09:31] saitharunsai commented on #350
yes

[2021-01-03 09:47] parasg1999 commented on #351
Can I take this up? @rahuldkjain
Can use the github repo link for the icons, like https://github.com/devicons/devicon/blob/master/icons/go/go-original.svg for Go

[2021-01-03 09:55] rahuldkjain commented on #351
Hey @parasg1999 thanks for taking interest. I've assigned this issue to @saitharunsai. You can pick up any other open issues.

[2021-01-03 12:20] advaithm commented on #351
based on some quick editing you can replace `https://devicons.github.io/devicon/devicon.git` with  `https://github.com/devicons/devicon/blob/master/` and the icons show up again

[2021-01-03 13:02] #350 closed

[2021-01-03 13:08] Su-Kyung commented on #351
It is simple and works pretty well. Thanks :-)

[2021-01-03 13:52] saitharunsai commented on #351
This issue has fixed @Su-Kyung

[2021-01-05 13:17] diiegoburiti commented on #351
Nice, it works for me.

[2021-01-07 02:20] LarsVomMars opened #353 "Wrong link target"
When add profiles to the Socials/"Connect with me" Tab the link targets are wrongly generated.
All the social links have the wrong target attribute:
`<a href="..." target="blank"> ... </a>`
It should be:
`<a href="..." target="_blank"> ... </a>`

To fix the issue [markdown.js L.78](https://github.com/rahuldkjain/github-profile-readme-generator/blob/c8b803647715d6ace582a748b4db5197bb5f2bdb/src/comp

[2021-01-09 17:22] EliazBobadilla commented on #351
Ok.

[2021-01-09 17:22] #351 closed

[2021-01-10 19:02] ApolloDev0 opened #355 "Add Nim language to programming languages"
would appreciate it , if the nim programming language was added to the programming language's options

[2021-01-17 11:50] g-savitha opened #358 "Add theme neutral icons"
Currently, few icons are not visible in dark theme. Make them visible by using theme neutral icons. May be we can make use of https://shields.io/ to generate our own kind of badges. For eg: [Javascript](https://img.shields.io/badge/-JavaScript-333333?style=flat&logo=javascript).

[2021-01-18 20:04] sheenm commented on #285
Hi. I guess this has been fixed, right?

[2021-01-19 06:16] Ashutosh00710 opened #359 "Contribution graph option can be added too"
**Describe the solution you'd like**
I have created a readme project [github-readme-activity-graph](https://github.com/Ashutosh00710/github-readme-activity-graph) which will show your recent GitHub activity (contributions) with a attractive graph SVG.

**Link to the repository:** https://github.com/Ashutosh00710/github-readme-activity-graph

**Additional context**
Demo/Example:

[![Ashutosh's gith

[2021-01-28 11:23] #104 closed

[2021-01-29 17:22] ApolloDev0 opened #360 "Add FastApi to frameworks"
#  FastApi

### please consider adding fastapi to the frameworks as its growing in popularity and is used by many.
thank you

[2021-01-30 12:16] WarenGonzaga opened #362 "GitHub Badge Corner"
I would like to add a GitHub Badge in the corner of the webpage. I use my open-source project called [fork-corner](https://github.com/warengonzaga/fork-corner) to add beautiful modern corner to any open source related project's landing page. The preview can be found in the PR associated with this issue.

This issue is for PR #361

Let me know what you think about my enhancement.

[2021-02-14 17:50] Ashray123 opened #364 "[BUG] Under Social section Github link container is only accepting lowercase values"
**Describe the bug**
After adding a link to my Github profile, I noticed that my username's first alphabet is changed from upper case to lower case which leads to an error while submitting the form.

**To Reproduce**
Steps to reproduce the behavior:

1. Scroll down to the Social section
2. Try adding a GitHub link of username containing at least an Uppercase alphabet.
3. Scroll below and you will

[2021-02-15 08:25] chaitanyasjoshi commented on #364
I just checked and it seems that all containers under social section except discord are only accepting lowercase values.
@Ashray123 check the same and consider updating the issue topic.

[2021-02-17 17:37] chaitanyasjoshi opened #365 "PayPal icon link broken"
The link to the PayPal icon in support section is broken

Steps to reproduce the behavior:

1. Go to 'Home page'
2. Click on 'Generate README'
3. Scroll down to 'Support section'
4. Missing PayPal icon

**Expected behavior**
PayPal icon should be displayed properly

**Screenshots**
![Capture](https://user-images.githubusercontent.com/23653544/108244063-c4fd1f00-7174-11eb-8042-66a400b38dc0.PNG)

[2021-02-24 06:04] harikanani commented on #365
@chaitanyasjoshi can you assign me this task I'll start working on it

[2021-02-24 06:11] harikanani commented on #364
for GitHub, both upper case and lower case are the same. there is no case sensitivity for github profile link
for ex:
https://github.com/ASHRAY123
https://github.com/Ashray123
https://github.com/ashray123

above all links are the same and redirect to your Github profile.
so, I request @chaitanyasjoshi to close this issue asap!

[2021-02-24 13:34] rahuldkjain commented on #364
Yep there is no need to make that case sensitive

[2021-02-24 18:12] Ashray123 commented on #364
@rahuldkjain I also agree with "@harikanani" but that is not the case here .. I am still getting the error while submitting and you can check the video that I have added in the description of the issue. If my alphabets are turned to lower case , your form is not able to detect my GitHub id. Please go ahead and let me know where I am mistaken.

[2021-02-25 05:29] rahuldkjain commented on #364
@Ashray123 If you see carefully, the error message is suggesting you to enter the username only, not the entire url.

[2021-02-25 05:30] harikanani commented on #364
Yes!

[2021-02-25 06:05] #364 closed

[2021-02-28 11:31] harikanani commented on #365
@rahuldkjain , Please Check My PR #366 that resolves this issue and close this issue asap!

[2021-03-01 09:33] kodumbeats opened #367 "Add Appwrite BaaS skill"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Add Appwrite as a selectable skill under BaaS.

**Describe alternatives you've considered**
N/A

**Additional context**
![muchbetter](https://user-images.githubusercontent.com/9708641/109478448-42634200-7a47-11eb-89be-7cbd9dbbce5d.png)

Join the **Discord Server** for further discussions.

[2021-03-01 13:38] aravindvnair99 opened #369 "Incorrect spelling of "regularly""
The following files have the misspelling:

- [markdown.test.js.snap](https://github.com/rahuldkjain/github-profile-readme-generator/tree/master/src/components/__tests__/__snapshots__/markdown.test.js.snap)
- [markdownPreview.test.js.snap](https://github.com/rahuldkjain/github-profile-readme-generator/tree/master/src/components/__tests__/__snapshots__/markdownPreview.test.js.snap)
- [markdown.test.

[2021-03-01 16:53] theoklitosBam7 opened #371 "Distinguish Angular from AngularJS"
Typing the keyword `angular` in the `Search Skills` input field it results only one option with AngularJS logo. The associated link, that `Generate README` produces, redirects to [angular.io](https://angular.io/) and not to [angularjs.org](https://angularjs.org/).

I suggest to make a distinction between **Angular** and **AngularJS** skills, linking the right logo and website URL with each one.

I

[2021-03-01 20:06] IsNotMyIP commented on #358
Totally agree

[2021-03-02 10:12] chaitanyasjoshi commented on #365
PR #366  solves the issue.

[2021-03-02 10:12] #365 closed

[2021-03-03 12:05] ifrntnd opened #373 "Add Angular 2+ Frontend Development skill"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
Add Angular 2+ as a selectable skill Frontend Development

**Describe alternatives you've considered**
N/A

**Additional context**
![image](https://user-images.githubusercontent.com/41643887/109803195-ce38c200-7c31-11eb-905f-96b18547b176.png)

[2021-03-03 17:33] harikanani commented on #359
@chaitanyasjoshi , i would like to work on this issue can you please assign it to me so that, i can start working on it.

[2021-03-06 09:46] aravindvnair99 commented on #373
Duplicate of #371 @frntnd93

[2021-03-06 10:06] frntnd93 commented on #373
This PR add new Angular 2+ skill and has nothing to do with #371, which talks about AngularJs link issue redirects to angular.io and not to angularjs.org. My [PR](https://github.com/rahuldkjain/github-profile-readme-generator/pull/372) related to fix #371

[2021-03-06 10:08] aravindvnair99 commented on #373
@frntnd93 I meant, there could be one issue and PR for fixing the entire Angular-AngularJS mess. But yes, works either way. 👍

[2021-03-11 17:35] Ashutosh00710 commented on #359
@rahuldkjain can you please review this.

[2021-03-13 15:27] #305 closed

[2021-03-23 02:29] adriens opened #375 "Add items to : "Automation" & "Devops" sections"
Hi could you please add :

- **IFTTT** to the `Automation` section
- **Appveyor** to the `Devops` section

[2021-03-24 06:27] rahuldkjain commented on #375
@adriens would you like to add these?

[2021-03-24 07:37] adriens commented on #375
UHH, if you have some contributor guidelines, I can try to 😸

[2021-03-31 20:03] mehmetfatiherdem opened #376 "In the social section, capital letters cannot be typed"
In the social section, it is not possible to write capital letters. If the person has a capital letter in their social media account username, they cannot write their username correctly.

[2021-04-02 19:04] chandrikadeb7 commented on #365
I think this issue is still persisting.
![Screenshot 2021-04-03 at 12 34 19 AM](https://user-images.githubusercontent.com/29686102/113445948-659d5a80-9414-11eb-8941-9782e6de5d19.png)

[2021-04-12 08:26] chaitanyasjoshi opened #378 "mssql icon link broken"
**Describe the bug**
Link to the mssql icon under database section is broken

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://rahuldkjain.github.io/gh-profile-readme-generator/
2. Scroll down to database section
3. No mssql icon as the link is broken

**Expected behavior**
Icon of mssql should be visible

**Screenshots**
![Capture](https://user-images.githubusercontent.com/2365

[2021-04-14 22:46] DenverCoder1 opened #379 "Missing themes for Readme Stats and Streak Stats"
Readme Stats now has [44 themes](https://github.com/anuraghazra/github-readme-stats/tree/master/themes) and GitHub Streak Stats now has [59 themes](https://github.com/DenverCoder1/github-readme-streak-stats/tree/main/docs/themes).

On the website, only 11 themes are displayed for Readme Stats and only 3 for Streak Stats.

More themes, if not all, should be given as options.

![image](https://user-

[2021-04-17 00:27] VarunAroraCode commented on #379
Hi, I'm working for a class that has us contribute to an open source project. Can I be assigned this issue?

[2021-04-17 04:45] jaygandhi129 commented on #345
Facing the same issue......Any fixes?

[2021-04-18 19:56] Priyanshu-official commented on #378
@chaitanyasjoshi hey! I would like to fix this bug :)

[2021-04-18 20:17] Priyanshu-official commented on #378
@chaitanyasjoshi hello I forget to see the Assigne rule and made a PR is there any Problem?

[2021-04-19 03:47] chaitanyasjoshi commented on #378
@Priyanshu-official I am not a mod here, but you should always follow the guidelines.
Maybe @rahuldkjain can help you in this regard

[2021-04-19 04:05] Priyanshu-official commented on #378
@chaitanyasjoshi sure 👍

[2021-04-19 04:45] Priyanshu-official commented on #378
@rahuldkjain Need your help!

[2021-04-19 05:05] rahuldkjain commented on #378
I am unable to reproduce this bug.

[2021-04-19 15:07] Priyanshu-official commented on #378
@rahuldkjain I have two solutions in my Mind :
1 -> I should make it PR as a draft and then you can assign me ( not a good idea about draft feature)
2-> I should close this  PR and wait until it assigns then make a new PR

is any solution Work?🤔 Let me know and put me in the tag so I get notification

[2021-04-19 16:13] chaitanyasjoshi commented on #378
Try clearing the cache of your browser or you can just check the URL of the icon viz. https://cdn.worldvectorlogo.com/logos/microsoft-sql-server.svg

[2021-04-20 05:52] rahuldkjain commented on #378
The logo is coming fine, I double-checked that.

[2021-04-20 05:54] rahuldkjain commented on #369
This is fixed in the recent release.

[2021-04-20 06:07] rahul-119966 opened #382 "Twitter svg error"
While adding twitter profile link, the image is not loading.

404: Not Found
https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/neutral-icons/src/images/icons/Social/twitter.svg

[2021-04-20 06:11] Priyanshu-official commented on #378
@chaitanyasjoshi Can you tell me what I should fix
 Invalid

[2021-04-20 06:27] chaitanyasjoshi commented on #378
That's weird, because for me it is broken on desktop as well as mobile.
I'll ask others about this issue on discord. If this is happening only for me then I'll close the issue.

[2021-04-20 08:55] DEEPKIRANC opened #383 "Bug : Svg Icon Not Displaying"
**Describe the bug**
SVG Icon for social media handles(LinkedIn , Twitter etc) is not being displayed in "Connect With Me" Section .

[2021-04-24 17:12] Y0ngg4n commented on #383
Same Problem [here](https://github.com/Y0ngg4n/y0ngg4n)

[2021-05-01 10:59] #382 closed

[2021-05-02 05:29] SumanthNadiger opened #385 "Social Media Icons are not being fetched"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2021-05-03 12:28] Shrestha7 commented on #385
Yes, Social Media Icons are not working for some reason.
This is what it showing after the generating profile .
![image](https://user-images.githubusercontent.com/40354116/116875735-1a58b080-ac3b-11eb-850d-1ad8e0111f6e.png)

[2021-05-05 05:40] its-Kumar commented on #385
Same for me, I tried to open the location of icon, and it says **404 Not found**

[2021-05-05 05:54] its-Kumar commented on #385
I manually copied the location of the icon and found this
[code]

[2021-05-05 12:41] Shrestha7 commented on #385
@its-Kumar  How did you get the actual link and will that works?

[2021-05-05 12:43] its-Kumar commented on #385
@Shrestha7 yes, it works. I get it from the github repo from manually surfing the folders

[2021-05-05 15:22] rahuldkjain commented on #383
@DEEPKIRANC would you like to fix that?

[2021-05-05 15:23] rahuldkjain commented on #385
@Shrestha7 would you like to fix the issue?

[2021-05-05 15:46] Shrestha7 commented on #385
@rahuldkjain  ya sure

[2021-05-05 16:30] SumanthNadiger commented on #385
I forked the original post and copied the original location of the .svg file it worked

[2021-05-05 16:32] SumanthNadiger commented on #385
I think profile generator is generating relative path not absolute path to the file. If that helps

[2021-05-06 04:26] its-Kumar commented on #385
Yes you're right @SumanthNadiger

[2021-05-06 14:03] ShadowbreakerGD opened #386 "I just want to say: thank you so much for this!"
My Profile README was pretty boring... and then I found this! I would just like to say thanks!

-Shadow
![favicon-32x32](https://user-images.githubusercontent.com/78216950/117311527-41d59600-ae52-11eb-8b2e-f7d1487b78f5.png)

[2021-05-10 06:42] #369 closed

[2021-05-10 06:49] Shrestha7 commented on #385
@rahuldkjain Please check my pull request.

[2021-05-10 06:58] aravindvnair99 commented on #369
@rahuldkjain It isn't a duplicate. The main code was fixed in the commit I referenced. But the tests weren't fixed. That's what this issue and my linked PR is for.

[2021-05-14 15:57] chaitanyasjoshi commented on #378
Hey @rahuldkjain, please take a look at #384 looks like only a few people have this issue.
The reason for this is currently unknown. Should I close this issue? What do you suggest?

[2021-05-22 11:34] soham4abc commented on #358
Working in this issue.. if possible pls assign

[2021-05-22 13:35] soham4abc commented on #383
Does this occur only in Dark theme?

[2021-05-24 10:18] kushal98 commented on #375
Can you assign this to me?

[2021-05-28 02:48] AndrewDaGuy opened #393 "Add codeberg as one of the social platform"
Add [codeberg](https://codeberg.org/) as one of the options in the social section.

[2021-06-03 22:41] AdrianArtiles opened #395 "A few typos in the documentation"
Hey! I noticed a few typos I believe.
I opened the following PR to correct them:

https://github.com/rahuldkjain/github-profile-readme-generator/pull/394#issuecomment-854223340

[2021-06-04 11:41] #395 closed

[2021-06-05 02:38] Estelle544 opened #397 "First month of July"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the follow

[2021-06-05 02:39] #397 closed

[2021-06-05 02:39] Estelle544 commented on #397
For my lovely 😍

[2021-06-05 06:41] AaronRecord opened #398 "Add Godot to game engines list"
**Is your feature request related to a problem? Please describe.**
It's a well known game engine.

**Describe the solution you'd like**
Add it to the skills list.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

You can assign me to it

[2021-06-06 06:55] soham4abc commented on #398
Added a Pull Request pls review!

[2021-06-08 13:05] hardikahalpara commented on #376
@rahuldkjain , if this needs to be fixed, can you please assign me?

[2021-06-11 07:21] Estelle544 opened #402 "cosmos1nfr6s3ldwa2ugynrahxh76dmlx762myj8rdtpz"

[2021-06-16 10:00] yellowful opened #404 "fix rss link of markdown and preview of markdown"
**Describe the bug**
If you input a link to RSS feed URL field of Social area and click generate README, you will get an incorrect link of the rss link of the markdown and preview of markdown, which shouldn't have the slash before "https".

**To Reproduce**
Steps to reproduce the behavior:

1. Input a link, such as "https://bdr.rocks/rss.xml", into "RSS feed URL" field of Social area
2. Click on '

[2021-06-20 20:11] arthurlli opened #405 "Add R to Programming Languages"
**Is your feature request related to a problem? Please describe.**
R is one of the commonly used data visualisation and statistical tools for data science. I think a number of GitHubers using R to handle data, so it might be a good idea adding it to the list. Could someone help with that if it is approved? Thanks a lot!

**Describe the solution you'd like**
Add R to the list of programming languag

[2021-06-23 13:05] amankumarm opened #406 "Make the icons in Languages and Tools section rearrangeable."
Make the icons in Languages and Tools section, rearrangeable so that users can reorder icons.

[2021-06-23 17:39] amankumarm commented on #406
@rahuldkjain

[2021-06-23 18:54] #367 closed

[2021-07-03 08:13] techyharshit123 opened #415 "Add EJS and Handlebars in frontend skills"

[2021-07-05 09:59] Amulya-coder commented on #404
@yellowful I would like to work on this.

[2021-07-08 09:20] #402 closed

[2021-07-10 01:47] skygil opened #418 "Add more Data Science related Skills"
**Is your feature request related to a problem? Please describe.**
Not really... there is just a limited list of skills/tools available for data scientists

**Describe the solution you'd like**
I saw issue #405 was open and had a failed request... but piggybacking off of it, I would like to add more data science-related skills to the list, which include:

- Programming Languages:
   - SQL
   - R (

[2021-07-17 16:25] siddiqkaithodu opened #420 "Sololearn in social section"
Add sololearn profile link in social section.

[2021-07-22 03:39] apoorvcodes opened #421 "Add SupaBase as BaaS"
I will suggest to add SupaBase as BaaS, as its a very good alternative to Firebase, if you can explain me some of the code structure, I can add it and do a pull  request

[2021-07-29 12:39] Y0ngg4n opened #423 "Buy me a coffe username does not gets saved in json"
**Describe the bug**
If you enter your buymeacoffe username in the field and generate a readme it did not get saved in the backup json.

**To Reproduce**
Steps to reproduce the behavior:

1. Enter your buymeacoffe username
2. Generate Readme
3. Download backup
4. Upload backup
5. bymeacoffe does not gets restored

**Expected behavior**
Restored bymeacoffe username

[2021-08-04 10:02] rock3r commented on #338
Can we consider moving Kotlin to the programming languages section? It's a language, not a mobile framework.

[2021-08-13 12:14] Y0ngg4n opened #424 "Include https://ko-fi.com"
**Is your feature request related to a problem? Please describe.**
Include https://ko-fi.com/ Donations

**Describe the solution you'd like**
A free Donation Platform without fees included

**Describe alternatives you've considered**
Any other Donation Platform without fees

[2021-08-15 08:32] gargipandkar commented on #423
Could this issue be assigned to me?
Quick fix - I've it ready to raise PR

[2021-08-16 21:53] MominBinShahid commented on #385
@rahuldkjain we can close this as this is fixed here #387
Thanks to @Shrestha7

[2021-09-04 15:04] aasthasaxena217 opened #425 "Adding Hashnode in socials"
A lot of developers use their Hashnode and Hackernoon profiles instead of their custom domain. It would be better if they could add their social media icons as well.

[2021-09-05 09:35] aayushthakur001 opened #426 "Enhancement"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-22 08:12] ShahabAthar25 opened #431 "More options in game engines"
**Is your feature request related to a problem? Please describe.**
Not really it is a feature request for more game engine options

**Describe the solution you'd like**
I would like for more game engine options as there is only two right now.

**Describe alternatives you've considered**
different and more game engines as there are just two now and someone that has worked with game engines like god

[2021-09-24 22:59] wkazisan opened #433 "Please Add Pre-processors to the Languages and Tools section."
I want pre-processors in the Languages and Tools section, please.

[2021-09-26 14:13] rahuldkjain commented on #425
Good idea @aasthasaxena217. Would you like to work on it?

[2021-09-26 14:15] #426 closed

[2021-09-26 14:15] rahuldkjain commented on #424
@Y0ngg4n would you like to work on it?

[2021-09-26 14:16] rahuldkjain commented on #421
Nice idea @apoorvcodes.

[2021-09-26 14:18] rahuldkjain commented on #420
@siddiqkaithodu would you like to work on it?

[2021-09-26 14:19] rahuldkjain commented on #418
any updates on this @skygil ?

[2021-09-26 14:19] rahuldkjain commented on #385
It's fixed now.

[2021-09-26 14:19] #385 closed

[2021-09-26 14:20] rahuldkjain commented on #415
Nice idea @techyharshit123, would you like to work on it?

[2021-09-26 14:29] siddiqkaithodu commented on #420
I would

[2021-09-26 14:30] rahuldkjain commented on #420
Great.

[2021-09-26 14:31] yarncha opened #438 "Bug : nextjs icon is not showing"
**Describe the bug**
[website](https://rahuldkjain.github.io/gh-profile-readme-generator/)'s Skills-Static Site Generators section, next js icon seems broken and the url of img is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [website](https://rahuldkjain.github.io/gh-profile-readme-generator/)
2. On _Skills - Static Site Generators_ section, there is next js icon
4. See e

[2021-09-26 14:32] apoorvcodes commented on #421
I can help adding it just specify how the project works :D

[2021-09-26 14:33] rahuldkjain commented on #438
<img width="1166" alt="Screenshot 2021-09-26 at 8 02 35 PM" src="https://user-images.githubusercontent.com/26406279/134812204-1594f878-8a7d-4e21-b315-a56c5164af0e.png">
It's coming fine.

[2021-09-26 14:41] yarncha commented on #438
Thank you for your quick response! But that icon still doesn't look error-free to me....😢

![image](https://user-images.githubusercontent.com/33623182/134812367-12ff7c90-c601-446b-926b-19572996bb58.png)
It is a screen that pops up when i access [that icon's source](https://cdn.worldvectorlogo.com/logos/nextjs-3.svg)
Will this help to fix this error...?

[2021-09-27 18:06] HristovCodes commented on #438
It renders fine for me as well. Can you try a different browser perhaps? Also does this happen every time or did it happen when you loaded the page and you didn't try refreshing (with ctrl+f5)?

[2021-09-28 15:05] yarncha commented on #438
Oh I found the same issue #378

[2021-09-30 07:30] HristovCodes commented on #438
Perhaps your firewall is blocking that source, or maybe even your isp which would be even weirder?

[2021-09-30 10:10] yarncha commented on #438
Looking at other people's cases, I'm also guessing that the reason for this problem is not the code, but that blocking. Then, would it be better to close this issue?

[2021-10-01 09:08] wweverma1 commented on #424
@rahuldkjain what is the exact issue. Can you please elaborate?

[2021-10-01 09:24] rahuldkjain commented on #424
@wweverma1 We need to add the functionality of including Ko-Fi sponsors button just like buymeacoffee button.

[2021-10-01 09:27] wweverma1 commented on #424
@rahuldkjain Okay, Can I start working on it ?

[2021-10-01 09:28] rahuldkjain commented on #424
Sure

[2021-10-01 09:28] HristovCodes commented on #438
I would assume so. It's not a problem with the actual code.

[2021-10-01 12:04] wweverma1 commented on #424
@rahuldkjain I've raised a PR against this Issue.
Kindly merge it after reviewing.
Also can you please tag "hacktoberfest" label?

[2021-10-02 04:49] chandrikadeb7 commented on #345
@rahuldkjain Can I work on this?

[2021-10-02 05:00] rahuldkjain commented on #345
@chandrikadeb7 Yeah sure 💯

[2021-10-02 08:01] #345 closed

[2021-10-02 08:03] chandrikadeb7 opened #444 "Refactor all icons to neutral SVGs (Stackoverflow, Codeforces, etc.)"
Some of the existing icons are not visible with GitHub dark theme.
For example, icons in src/images/Social --- Stackoverflow, Codeforces, etc.

We can use neutral coloured SVGs for all the icons which are not yet updated.

[2021-10-02 08:04] chandrikadeb7 commented on #444
@rahuldkjain I would like to work on this issue.

[2021-10-02 08:13] rahuldkjain commented on #444
Cool.
Please take care of few things here:
1. Use SVG icons wherever possible
2. Optimise the SVG icons using this [SVGOMG](https://jakearchibald.github.io/svgomg/) tool.

I just realized that the file size of Dev[.]to SVG is 324KB 🤯. Please optimize this file too.

Thanks 🚀

[2021-10-02 08:44] Tejasvigupta commented on #415
Hi, can I work on this issue?

[2021-10-02 08:46] rahuldkjain commented on #415
Sure

[2021-10-02 08:53] rahuldkjain commented on #438
I think there is an SVG support issue with some devices/browser

[2021-10-02 08:54] rahuldkjain commented on #433
@wkazisan would you like to add these?

[2021-10-02 11:19] ghost opened #451 "Add Inkscape option in Software section"
**Describe the solution you'd like**
Inkscape is a FOSS alternative to Adobe Illustrator, it would be nice to have it as an option.

**Additional context**
I would gladly work on this issue.

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa50.svg" alt="GPRG Discord Server Link" width="300

[2021-10-02 18:50] techyharshit123 commented on #415
@rahuldkjain can I work on this issue?

[2021-10-02 23:18] wkazisan commented on #433
Thank you for asking @rahuldkjain . I want to add some features but I just started learning Js, So I will try in the future. Thank you

[2021-10-03 04:18] #444 closed

[2021-10-03 06:42] #438 closed

[2021-10-03 16:23] AnirudhPanda opened #452 "Add Hashnode in Socials for BLOGS"
I would like to take this issue!

[2021-10-03 16:35] AnirudhPanda commented on #433
I can do this @rahuldkjain ?

[2021-10-03 17:47] DmnChzl opened #453 "Add NestJS option in Backend Development section"
Hi 👋
I want to help as part of **Hacktoberfest'21** !
Can you assign this issue to me? 🤔

[2021-10-03 17:50] kushalShukla-web commented on #453
may i

[2021-10-03 18:26] RetiFier opened #455 "Need Validation in Upload JSON file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-03 21:00] DmnChzl opened #457 "Better checkboxes design for skills"
Hello again 👋
It would be great to have more stylish checkboxes!
Why not... toggle switches instead? 🤔

[2021-10-03 21:37] suprabhat25 commented on #457
Can you assign this issue to me?

[2021-10-03 21:38] suprabhat25 commented on #393
Can you assign this issue to me ?

[2021-10-04 00:47] arche-dev commented on #393
Sure :D

[2021-10-04 00:48] arche-dev commented on #451
Fixed #459 :+1:

[2021-10-04 03:52] NimperX commented on #360
@abughurab16 Can you elaborate more on this please?

[2021-10-04 18:50] suprabhat25 commented on #393
after following steps to run this code, I am not able to run it in my laptop. What to do after the following outcome ?
<img width="1430" alt="readme-generator" src="https://user-images.githubusercontent.com/47072868/135907160-39840050-731b-43c9-be58-3475bdbaaa58.png">

On clicking "Go Live", I am getting the following in my webpage :-
<img width="1430" alt="error_readme" src="https://user-images.g

[2021-10-05 04:29] chandrikadeb7 opened #461 "Refactor Kafka SVG icon to neutral color"
Kafka icon in Backend Development section is invisible in dark mode.

**Describe the solution you'd like**
Refactor Kafka icon to a neutral color instead of B&w

**Describe alternatives you've considered**
None

**Additional context**
Just found about this going through my own profile Readme!

![Screenshot 2021-10-05 at 9 59 12 AM](https://user-images.githubusercontent.com/29686102/135960205-f196f

[2021-10-05 04:30] chandrikadeb7 commented on #461
@rahuldkjain I would like to fix this :)

[2021-10-05 07:47] logicalahara commented on #457
Hey @MrDoomy, this seems to be a nice redesign and I'd like to contribute to this issue.

I developed [https://eumentis.com](url) and having a grip on gatsby

[2021-10-05 07:58] MrDoomy commented on #457
Hi guys 👋
I've already pushed something here [#458](https://github.com/rahuldkjain/github-profile-readme-generator/pull/458)
I'm waiting for a review...

[2021-10-05 09:53] mehabhalodiya commented on #418
Hey @rahuldkjain
Have you checked the above list of icons mentioned?
I would like to contribute in this and so want to confirm once, if it's alright.
Thank you.

[2021-10-05 14:52] songyi00 opened #462 "Add reset function and visitor count badge"
Hi. I am a computer science student.
Currently, I am taking lectures on contribution to open sources.
I think this repository is very useful.
However, it seems to be better to have a button to initialize the entire input field.
May I contribute by creating this function?
If you don't mind, I want to create a function that shows the number of visitors.
I look forward to your positive response.

[2021-10-05 15:09] #462 closed

[2021-10-07 14:33] yyna opened #467 "Add "rescript" to skills"
**Is your feature request related to a problem? Please describe.**
I want to add rescript to skills.

**Describe the solution you'd like**
Add rescript

[2021-10-08 01:28] thauska opened #468 "Adding A-Frame to skills"
Is your feature request related to a problem? Please describe.
I want to add A-Frame to skills.

Describe the solution you'd like
Add [A-Frame](https://aframe.io/)

[2021-10-08 09:30] feoavif opened #469 "Add hashnode to Social section"
Add hashnode to Social section. It is one of the fastest-growing social sites for developers.

[2021-10-10 17:05] Bartek532 commented on #421
Is it still open? I would work on it 😁

[2021-10-14 12:19] Bartek532 opened #474 "TypeScript"
I think is a good idea to rewrite this project to TypeScript, what do you think? I will take care of it 😁

[2021-10-14 16:08] harmolipi opened #475 "Github social link is not generated"
**Describe the bug**
In the socials section, entering a github username doesn't generate an image or link to the github profile.

**To Reproduce**
Steps to reproduce the behavior:

1. Enter a username under Social > github username
2. Click on "Generate README"
3. See that your github username doesn't seem to appear anywhere in the generated readme

**Expected behavior**
The github username entere

[2021-10-15 05:07] rahuldkjain commented on #474
Let's do it. I will also help

[2021-10-15 08:24] Bartek532 commented on #474
Ok, I think the best solution will be to create a branch on my fork, push changes there, and then do PR to the main repo, what do you think about it?

[2021-10-15 14:21] #475 closed, assigned to nobody

[2021-10-15 18:49] DanielSalis opened #477 "Add NestJS option into Backend Development section"
I would like to take this issue!

[2021-10-15 19:09] DanielSalis commented on #477
https://github.com/rahuldkjain/github-profile-readme-generator/pull/478

[2021-10-15 21:05] MichaelVini commented on #341
I would like to take this issue!

[2021-10-16 00:08] thkratzer opened #479 "Top skills card not centered"
**Describe the bug**
Top skills card is not centered with generated code, Even though align="center" is in the <img> Tag.

Solution would be to have align="center" in the previous <p>-Element

**To Reproduce**
Create a new Readme and paste it into your github-profile-readme.

**Expected behavior**
Top Skills Card should be Centered.

**System**
Win10
Mozilla Firefox 93.0
![skillcard_not_centered](

[2021-10-20 13:16] jayladenae opened #481 "Reset Button"
Does not clear all input fields

[2021-10-21 03:07] #423 closed

[2021-10-21 03:33] #477 closed

[2021-10-21 10:23] ajvideira opened #483 "Broken nextjs logo"
The nextjs logo is broken.

Actual link: https://worldvectorlogo.com/download/nextjs-3.svg

Correct link: https://worldvectorlogo.com/download/nextjs-2.svg

[2021-10-22 07:28] Tucamote13 opened #486 "Omar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-28 07:44] #486 closed, assigned to nobody

[2021-10-28 07:48] #483 closed, assigned to nobody

[2021-10-31 05:08] rahuldkjain opened #494 "fix ESLint warnings"
fix few ESLint warnings to improve the code quality

[2021-10-31 05:09] rahuldkjain commented on #494
PR https://github.com/rahuldkjain/github-profile-readme-generator/pull/493

[2021-10-31 07:07] rahuldkjain opened #495 "setup eslint using pre-commit hook"
**Is your feature request related to a problem? Please describe.**
Want to set up ESLint in the code to avoid buggy code.

**Describe the solution you'd like**
I am thinking to setup ESLint with prettier, pre-commit hook using husky

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa50.svg"

[2021-10-31 11:19] rahuldkjain opened #497 "remove unnecessary file"
delete image files from `/design` directory

[2021-10-31 11:29] #497 closed

[2021-10-31 11:29] rahuldkjain opened #499 "improve html.js content"

[2021-11-01 03:12] techieeliot commented on #452
Has this issue been picked up, yet?

[2021-11-01 04:40] techieeliot commented on #452
@rahuldkjain please see work completed for this ticket in the PR.

[2021-11-01 04:46] #452 closed

[2021-11-06 13:47] VulcanWM opened #502 "Emojis for stuff"
I don’t really like the emojis next the stuff and it’s quite annoying removing it, so maybe have an option to remove the emojis from the Readme.

[2021-11-06 14:32] VulcanWM opened #503 "Dark Theme"
Some people like dark theme better so maybe add an option where you can choose if you want light or dark themes for the svgs on the Readme.

[2021-11-12 19:28] kiennguyenchi commented on #503
Hi there, I'm interested in this issue? Could you please assign it to me and specify which file I need to take a look in? Thank you!

[2021-11-19 05:07] HammyHavoc opened #504 "Blog posts not fetching"
**Describe the bug**
I followed the guide, yet the blog posts don't appear on my profile. https://github.com/HammyHavoc/hammyhavoc

According to the repository, the workflow hasn't run. CCing @gautamkrishnar.

**To Reproduce**
Steps to reproduce the behavior:

1. Generated profile info via tool
2. Followed the guide

**Expected behavior**
Blog posts to appear.

**Screenshots**
If applicable, add s

[2021-11-19 05:29] #504 closed

[2021-11-19 09:22] gautamkrishnar commented on #504
hope this is fixed @HammyHavoc ?

[2021-11-19 09:39] HammyHavoc commented on #504
Yes, thank you! It's awesome, love it. :- )

In terms of what went wrong, it may have been that I was tired and made a mistake. However, instead of pushing the file generated by the web-based tool, I simply followed the guide and copy-pasted. Worked first time.

In terms of differences between the two methods, the generated YML features quotation marks (`"`) and the guide features apostrophes (`'`

[2021-11-21 17:35] suprabhat25 commented on #503
@rahuldkjain assign it to me.

[2021-11-25 13:44] diganta413 commented on #474
@Bartek532 @rahuldkjain  Is these thing already done or in progress? If its in progress I would love to contribute....

[2021-11-25 18:03] Bartek532 commented on #474
I prepare first version - #487 and I'm waiting for a check 😁 Also I

[2021-11-25 18:04] Bartek532 commented on #474
I prepare first version - #487 and I'm waiting for a check by @rahuldkjain 😁 Also I think some improvements could be needed in a few places, so you can check it and let me know @diganta413

[2021-12-06 13:01] rkoleci commented on #503
Can you assign this to me ?

[2021-12-16 16:04] isthatsahil commented on #503
Hello @rahuldkjain ,
I'm interested in collaborating for this PR. Let me know the required details. Thanks !

[2021-12-17 10:47] dagim-shimelis opened #505 "Telegram link in the social section"
I've enjoyed creating my ReadMe profile with your generator, but I have noticed that there is no option for adding telegram link in the social media section.

[2021-12-22 08:19] himanshuvashisht878 opened #506 "Add Support for heroku"

[2021-12-30 18:58] supercodingninja commented on #505
That is an excellent idea.  Would you like to contribute: I will credit you in the ReadMe.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dagim Shimelis ***@***.***>
Sent: Friday, December 17, 2021 2:47:31 AM
To: rahuldkjain/github-profile-readme-generator ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [rahuldkjain/github-profile-readme-generator] Telegram li

[2022-01-01 19:42] Moinuddin9777 opened #507 "Icon Update"
The current C++ icon provided by the generator looks really bad moreover its greyscale use this one instead

</a> <a href="https://www.w3schools.com/CPP/default.asp" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" alt="cpp" width="40" height="40"/>

---

img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Lo

[2022-01-01 19:48] Moinuddin9777 opened #508 "Please add Jupyter"
</a> <a href="https://jupyter.org/" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg" alt="Jupyter Notebook" width="40" height="40"/>

---

img src="https://upload.wikimedia.org/wikipedia/commons/3/38/Jupyter_logo.svg"

[2022-01-01 20:03] Moinuddin9777 opened #509 "Please Add Tool Processing"
<a href="https://processing.org/" target="_blank" rel="noreferrer"> <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Processing_Logo_Clipped.svg" alt="Processing" width="40" height="40"/> </a>

---

img src="https://upload.wikimedia.org/wikipedia/commons/5/59/Processing_Logo_Clipped.svg"

[2022-01-23 03:24] egbakou opened #511 "Add .NET to Backend Development"
Official logo can be found here: https://github.com/dotnet/brand/tree/main/logo
I can make a PR for this :)

[2022-01-27 21:17] evrentan opened #512 "Add GitKraken to Other Section"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It will be good to add GitKraken - Git Client to Other section as it is a widely used Git Client tool.

**Describe alternatives you've considered**
N/A

**Additional context**
It will be look like;

![image](https://user-images.githubusercontent.com/40982573/151444366-dc8df158-dea9-4804-acc

[2022-01-27 21:18] evrentan commented on #512
@rahuldkjain , I can take this issue if the issue is okay for you also. Thanks.

[2022-01-30 17:43] Dhananjay-JSR opened #514 "Cannot Build the Project"
**Describe the bug**
Error While Building Project
**To Reproduce**
Steps to reproduce the behavior:

1. Clone Repo
2. Run npm install
3. Scroll down
4. See error

**Expected behavior**
should install node dependency without any error

**Screenshots**
![error](https://user-images.githubusercontent.com/47073516/151710742-9856fd37-6ae8-4f2e-8116-0d2076899529.PNG)

**Desktop (please complete the follo

[2022-02-02 10:34] kuuhaku-u opened #515 "Different theme for stats/skills card"
### **Is your feature request related to a problem? Please describe.**
currently, stats/skills cards are by default white and you can't change them unless you change the code inside readme using &theme=" theme name"

### **Describe the solution you'd like**
how about showing different themes under Add-ons and when the user select that theme,&theme is added in the code
for example, let's say I sele

[2022-02-07 03:02] ghost opened #516 "Telegram icon svg is Missing"
Please upload it in your git

[2022-02-10 02:23] shaheem-pp opened #517 "Add a Linktree Icon"
Most of us use Linktree because we just need to update one link so it applies everywhere. So Add Linktree Icon

[2022-02-11 17:28] AliSawari opened #519 "Adding Dev Page Icon to the Social Images"
**Is your feature request related to a problem? Please describe.**

Adding Dev Page Icon to the Social Images

**Describe the solution you'd like**

Adding Dev Page Icon to the Social Images

**Describe alternatives you've considered**
[Dev Page](https://dev.page/)  is a new Developer Portfolio Showcase website, it would be nice to use it in the **Connect with me:** section of this tool

**Additio

[2022-02-14 02:59] aroramrinaal commented on #511
Can you assign this issue to me.

[2022-02-14 23:18] AliSawari commented on #516
added in #522

[2022-02-20 18:18] SachinCoder1 commented on #165
Hi, is anyone working on it? i am new to open source, how do i get started?

[2022-03-10 04:54] Samyak-Bumb opened #526 "Add 2 More Software"
Add **GIMP** and **VS Code** in Section of "Skills\Software"

[2022-03-17 15:06] itsmeshibintmz opened #528 "Add Steam Icon"
**Is your feature request related to a problem? Please describe.**
Not an issue.

**Describe the solution you'd like**
Please add steam icon

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

Join the **Discord Server**

[2022-03-21 22:24] hellowhirl commented on #376
Hello, I have fixed this issue and raised PR (https://github.com/rahuldkjain/github-profile-readme-generator/pull/529).
Please have a look.

[2022-03-22 17:46] nebocoder opened #530 "Update Hashnode Icon"
**Describe the solution you'd like**
Update the Hashnode icon based on the logo shown on their branding page: https://hashnode.com/media

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa50.svg" alt="GPRG Discord Server Link" width="300px"/>
</a>

Server Link: https://discord.gg/HHMs7Eg

[2022-03-27 17:30] dhrvjha opened #531 "Django SVG do not loads"
**Describe the bug**
Django svg do not loads

**To Reproduce**
1. Go to [site](https://rahuldkjain.github.io/gh-profile-readme-generator/)
3. Scroll down to framework
4. See error

**Expected behavior**
[Django svg](https://github.com/rahuldkjain/github-profile-readme-generator/tree/master/src/images/icons/Framework/django.svg) from [assests](https://github.com/rahuldkjain/github-profile-readme-ge

[2022-03-31 21:05] callmebhawesh opened #534 "Django Logo not working."
<img width="302" alt="Screenshot 2022-04-01 at 2 35 39 AM" src="https://user-images.githubusercontent.com/45531771/161149281-259e9101-7e86-4a2a-9fe2-0545ac4897d2.png">

[2022-04-04 18:33] ginona commented on #534
Hi! Can I assign this issue?

[2022-04-04 18:45] ginona opened #535 "Add C# icon"
**Is your feature request related to a problem? Please describe.**
Not a problem.

**Describe the solution you'd like**
Search by c# and will return the c# image

**Describe alternatives you've considered**
The other alternative it's that the actual use case with csharp

Join the **Discord Server** for further discussions.

I'm already working on it, it will be great just to assign it to me.

<a h

[2022-04-04 20:36] ginona opened #536 "Add Codewars in Social"
**Is your feature request related to a problem? Please describe.**
Add Codewars profile in Social

**Describe the solution you'd like**
Adding one more text box to add the link to codewars' profile

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa50.svg" alt="GPRG Discord Server Link" wid

[2022-04-08 10:35] #421 closed

[2022-04-13 18:06] faisal95bd opened #539 "Add "PHP" Programming language in Backend Development section"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-16 09:17] dscatalan opened #540 "Paypal Link not Displaying CSS"
**Describe the bug**
The Paypal button is not displaying properly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://rahuldkjain.github.io/gh-profile-readme-generator/
2. Scroll down to bottom of page
3. Click on Generate README
4. Scroll down to Support 🙏
5. See error under Tip💰
Paypal button not displaying properly

**Expected behavior**
There should be a colored background th

[2022-04-16 09:21] daysmachine commented on #540
I would like to fix this! Thanks.

[2022-04-21 15:17] ahmed-abdulhuy opened #544 "Add "Laravel" framework in Backend Development section"
**Is your feature request related to a problem? Please describe.**
 Please add Laravel framework in the backend

**Describe the solution you'd like**
 Adding one more text box to add the Laravel framework
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshot

[2022-04-21 15:32] #544 closed

[2022-04-22 11:12] MaulikChopra opened #545 "Add Da"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-25 19:42] devritwik commented on #531
Hi, The Django icon is still not loading. :-(

![image](https://user-images.githubusercontent.com/53152719/165161994-8a166f1b-deec-416c-9db0-33a230b19896.png)

[2022-04-28 08:59] MustaqAhamed opened #546 "Django Image is not visible"
**Describe the bug**
The bug is the image of the Bug is not reflected after generating the Readme.md file

**To Reproduce**
Steps to reproduce the behavior:

Need to define a proper img src to the django image which is already selected or can change the image

**Expected behavior**
The Image must be a reflecting on the frontend side

**Screenshots**
Screenshot attached

![chrome_3hQQKRR69V](https:

[2022-05-01 18:43] roshaan005 commented on #536
Can I do this?

[2022-05-02 19:26] ehsanulhaq001 commented on #546
By following the image address, I found that the icon is being loaded from the GitHub repository **[devicons/devicon](https://github.com/devicons/devicon)** which doesn't have _django-original_ icon, it has [django-plain](https://github.com/devicons/devicon/blob/master/icons/django/django-plain-wordmark.svg) and [django-plain-wordmark](https://github.com/devicons/devicon/blob/master/icons/django/d

[2022-05-03 11:43] MartinFlischman commented on #95
No update on changing the overall them to dark mode?

[2022-05-04 08:45] HyunseungLee-Travis opened #548 "YouTube social input's placeholder should be 'id' instead of 'name'"
# Problem
The placeholder for putting in YouTube channel is very confusing as it says 'name' when clearly, you are supposed to put in id.
To make a link to the YouTube channel you use id like "UChTUaMMkavu5hxIA7Gd4kfA" if your YouTube channel is small.
I also got confused between name and id.

[2022-05-09 11:10] yeukfei02 opened #549 "add aws lambda, other aws services skills icon and serverless framework icon"
I am looking this project will add aws lambda, other aws services skills icon and serverless framework icon

thanks.

[2022-05-13 22:24] olekstomek commented on #338
Yes, Kotlin should be in the programming language category.

[2022-05-13 22:38] olekstomek opened #550 "URL to YouTube can be incorrect - c vs channel in link"
My id to my channel: `UCG5-iPOoQ65CKi5YuZXSqqg`
I put this value into youtube channel name input.
Generated link:

is incorrect and it returns 404 error.
Correct URL is

The difference are letter size of id and `c` vs `channel` in URL.

But URL with `c` in URL can be correct, for example: https://www.youtube.com/c/google

[2022-05-29 07:59] mohitSharma74 opened #551 "Add Blockchain, NFT and Web3 related skills"
Blockchain, NFTs, Cryptocurrencies etc are on 🔥  right now! And so are skills related to web3 and blockchain. Solidity, Truffle, Solana etc would be the perfect example of that. I'd love to add these skills to the skills section!

I'd be adding the following skills:

1.    Solidity
2.   Truffle
3.   Hardhat
4.   Web3JS
5.   OpenZeppelin
6.   Metamask

Please do let me know your thoughts! Thank you

[2022-05-29 08:03] mohitSharma74 commented on #551
Could you please assign this enhancement to me? Thank you! 🙂

[2022-05-30 12:44] itsmeshibintmz commented on #526
Please assign this to me.

[2022-05-30 12:45] itsmeshibintmz commented on #546
added in #552

[2022-05-30 12:48] itsmeshibintmz commented on #505
Please assign this to me.

[2022-05-30 22:52] EL-MEHDI-ESSAADI commented on #550
Hey olekstomek, I tried to find a way to convert a youtube channel id to name, but I didn't find anything can helps.
For now the app support just youtube name, so use can use ure channel name (TomekOleksik) instead of the id.

[2022-06-11 04:54] Sunil-1921 opened #555 "Add more DevOps skills"
**Is your feature request related to a problem? Please describe.**
There are lot of devops tools but here only some of them are included.

**Describe the solution you'd like**
I want some more devops tools in the skills section, like - Ansible, Chef, Gitlab, OpenShift etc.

**Additional context**
![image](https://user-images.githubusercontent.com/64888485/173173205-798919c5-ec5b-4cd0-ae6c-33411a9b

[2022-06-11 09:46] MRGRD56 opened #556 "Add PowerShell to skills"
It would be great to see [PowerShell](https://docs.microsoft.com/en-us/powershell/), for example, in Devops skills, next to Bash

[2022-06-12 02:27] normie614 opened #557 "Wrong html5 href attribute"
If you have the html5 front-end development selected it links you to:
`<a href="https://www.w3.org/html/" target="..."> ... </a>` but that page is obsolete.

It should link to:
`<a href="https://html.spec.whatwg.org/multipage/" target="..."> ... </a>` which is the current HTML standard.

[2022-06-21 07:36] zachary-cauchi opened #561 "Add Ballerina to Skills"
**Is your feature request related to a problem? Please describe.**
I would like to add my experience with [Ballerina](https://ballerina.io/), but the option isn't available.

**Describe the solution you'd like**
Add the Ballerina programming language as a Programming Language skill.

**Describe alternatives you've considered**
So far, I have to manually add it in to my readme file.

**Additional c

[2022-06-25 19:08] x-N0 commented on #546
Damn, they just deleted the django option.

[2022-06-25 19:10] itsmeshibintmz commented on #546
*nice.

[2022-06-27 10:29] ChenYu-K opened #565 "Unable to generate skill icon"
**Describe the bug**

Unable to generate skill icon

I can't generate the skill icon, is there a necessary condition to generate the icon?
Only icons cannot be generated
Regardless of using `Chrome`, `Edge`, and `Localhost` all can not be generated.

- OS: [Winsow11]
- Browser [chrome]

[2022-06-27 14:03] rudkul commented on #565
Having the same issue here. Not able to generate the markdown for the skills. Everything else seems to be working fine.

[2022-06-27 14:11] rudkul opened #566 "Markdown generated doesn't go too well with the dark mode of Github"
In the dark mode of Github, the connect with me icons such as the one for Codechef is completely merged with the background. Even the stats being shown are on a white background and doesn't look good with the dark mode of Github. Maybe some kind of fixes to that would make this tool really feasible.

[2022-06-27 18:04] SIMULATAN opened #567 "Add social provider: Discord"
Discord has a specific URL that links to your account directly, just like the other social platforms.

The URL is in the following format: [https://discord.com/users/USERID](https://discord.com/users/591254675525992449).

The ID of your user can be get by enabling the developer tools under `User Settings -> Advanced -> Developer Mode`, right clicking on your user, and then selecting "Copy ID".

An

[2022-06-28 10:34] Ajit-91 commented on #565
Having same issue rest is working fine but skills are not being added in the markdown for some reason

[2022-06-28 13:17] rahuldkjain commented on #565
Shit, anyone wants to take this up & fix?

[2022-06-28 13:35] #565 closed

[2022-06-28 13:38] rahuldkjain commented on #565
This was critical, so I personally fixed it.
Thanks for the awareness 👏

[2022-06-29 18:41] keremh commented on #287
hi, can i work on this issue? if not resolved

[2022-06-29 20:07] VIGHNESH1521 opened #569 "I would like to add POWER BI in my github profile, I could not find it, please do add POWER BI."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-07-07 17:23] prabhatsingh014 opened #571 "Add GitLab, Terraform, and Openstack to skills"
**Is your feature request related to a problem? Please describe.**
Please add feature to add GitLab, Terraform in DevOps skills and Openstack maybe in DevOps or a new section Cloud Computing

**Describe the solution you'd like**
To be able to add GitLab, Terraform & Openstack in skills.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or fea

[2022-07-10 22:05] dev-aniketj opened #573 "Add R Programming Language icon on it."
![image](https://user-images.githubusercontent.com/81229551/178163647-82b23a87-af74-4e63-8c18-35b0bc31d0bc.png)

#### Please add R programming language icon to make it better profile generator site.

### Thank You.

[2022-07-21 11:12] megaacheyounes commented on #536
any update? is this going to be added?

[2022-07-21 11:37] megaacheyounes commented on #536
you can add Codewars badge this way

[code]
replace `<username>` with your Codewars user name.

You can see all your badge at: `https://www.codewars.com/users/<username>/badges` (replace `<username>`)

[2022-07-22 10:09] n8-dev opened #576 "Big NPM audit required."
**Is your feature request related to a problem? Please describe.**
running `npm install` you'll see

[code]

**Describe the solution you'd like**
Packages updated

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa

[2022-07-22 10:25] n8-dev opened #577 "Define node and npm versions"
**Is your feature request related to a problem? Please describe.**
I see there is no engine defined in the `package.json`

**Describe the solution you'd like**
Something like the following added to the `package.json` to be clear for devs
[code]

**Describe alternatives you've considered**
Perhaps some a contributing readme.md 🤔

**Additional context**

Join the **Discord Server** for further discu

[2022-07-22 10:30] n8-dev opened #578 "Add pronouns"
**Is your feature request related to a problem? Please describe.**
When you make your own special profile readme.md github pre populates the file.
It contains
[code]

This field is missing from the generator

**Describe the solution you'd like**
Implement `pronouns` as a field

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screenshots about the fe

[2022-08-01 16:32] ExploreWithCode opened #582 "Add title to the languages and tools listed on the profile"
## Just add the title attribute like this:  title="HTML"

<h3 align="left">Languages and Tools:</h3>
<p align="left">
  <a href="https://en.wikipedia.org/wiki/HTML" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" title="HTML" width="40" height="40"/> </a>
  </p>

 ### Here is the code:
[code]

[2022-08-04 09:21] #517 closed

[2022-08-05 17:37] agkeshav commented on #582
Hey I can do this well and also understand well what you need.
Please give me this issue to solve.

[2022-08-10 04:21] kiennt1-hblab opened #584 "Wrong "coffeescript" href attribute"
bug: missing "c" character in "coffeescript" URL
![Screenshot from 2022-08-10 11-18-04](https://user-images.githubusercontent.com/106962505/183814880-ad201f1d-cef1-430b-8a30-c5cb5846f9ec.png)

[2022-08-10 20:41] ExploreWithCode commented on #582
I have no idea how to contribute.

[2022-08-11 07:12] Abdullamousawi opened #585 "linkedin.svg icon not showing"
**Describe the bug**
the linkedin.svg file under [.../src/images/icons/Social/] is not showing

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '[src/images/icons/Social/linked-in.svg](https://github.com/rahuldkjain/github-profile-readme-generator/blob/master/src/images/icons/Social/)'
2. Click on 'linked-in.svg'
3. See error (Unable to render code block).

**Expected behavior**
The sv

[2022-08-11 09:11] YahiaML opened #586 "Add R language to the programming languages"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-13 13:26] agkeshav commented on #582
may be there is some problem from github itself you can try assigning again. Actually I am very new to open source so I do not know much about it

[2022-08-13 21:03] #582 closed

[2022-08-14 08:29] mayukh551 opened #587 "Include Express.js, and animation libraries"
Should include Express.js under Frameworks

Should also include separate section for JS animation libraries like GSAP, Framer-motion, as these libraries are widely used in modern websites

[2022-08-14 08:50] #587 closed

[2022-08-21 11:37] Saruf-Ratul opened #590 "act(...) is not supported in production builds of React, and might not behave as expected"
1===S&&(S=!0,console.error("act(...) is not supported in production builds of React, and might not behave as expected."));R++;var c=

![image](https://user-images.githubusercontent.com/43202031/185789080-aaa7b741-6ec4-461b-92f2-4e7733267dc5.png)

[2022-08-23 19:19] NChechulin opened #591 "Add LaTeX to the list of software"

[2022-08-24 10:05] mjawas147 opened #592 "Readme generator"

[2022-08-28 07:52] AnuragLodhi commented on #586
Please assign this issue to me.

[2022-08-28 08:42] YahiaML commented on #586
I can not do this because I'm not an owner or a collaborator of the repository (https://help.github.com/articles/permission-levels-for-a-user-account-repository/).

[2022-09-01 06:47] ankitchaudharyy-TW commented on #556
Hey @rahuldkjain, I would like to fix this issue.

[2022-09-01 06:49] Ankitchaudharyy commented on #556
Hey @rahuldkjain, I would like to fix this issue.

[2022-09-02 07:01] adj2908 opened #598 "Cypress e2e tests"
Hi @rahuldkjain ,

 I would like to contribute to this project by adding Cypress tests, how can I proceed with it?

Thanks.

[2022-09-06 17:22] nellb28 commented on #598
Please assign this to me.

[2022-09-09 17:44] Erijl opened #599 "Request to add "Fiverr" skill option"
**Is your feature request related to a problem? Please describe.**
No particular problem.

**Describe the solution you'd like**
I want to add a "Fiverr" skill option.

**Describe alternatives you've considered**
Just don't add it.

**Additional context**
/

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a

[2022-09-11 20:57] sanberkzulfikar opened #600 "nginx logo image is broken"
**Describe the bug**
nginx logo image link is broken. (Backend Development section)

[2022-09-13 00:36] rezamay opened #601 "No Social links or icons showing up in generated profiles."
**Describe the bug**
When I use https://rahuldkjain.github.io/gh-profile-readme-generator/)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '[...](https://rahuldkjain.github.io/gh-profile-readme-generator/)'
2. Fill out form, Click on 'generate'
3. Scroll down to "Connect with me." section on generated readem.md
4. Notice no social links are rendered in the readme.md generated.

**Exp

[2022-09-13 00:44] rezamay commented on #601
No Social links or icons showing up in generated profiles

[2022-09-13 14:32] harsh-haria opened #602 "Issue with transparent icons"
**=> Issue: Icons with black text or a black logo (example: socket.io, express) are invisible if the user is using dark mode**

=> Solution: We can add an option to add a white or black background to the icons so regardless of what theme the user is using the icons will be visible

=> I have tried to use inline CSS but didn't work. After some googling found out that inline CSS doesn't work nor doe

[2022-09-15 22:38] tripleri commented on #598
@adj2908 let me know if I can assist with the creation of tests.

[2022-09-16 00:06] nellb28 commented on #598
@adj2908 pleas e let me know if I can assist in this effort.

[2022-09-20 04:27] si88har1h opened #603 "Readme.MD update"
**Is your feature request related to a problem? Please describe.**
No. Just a documentation update.

**Describe the solution you'd like**
I'd recommend to change heading from Contributing to Contributions which is grammatically and semantically appropriate.

**Describe alternatives you've considered**
None

[2022-09-23 05:59] JaypeeLan opened #605 "Dark mode"
A dark mode will be nice to have on the web page to help uses view the site well, especially at night.

[2022-09-23 05:59] #605 closed

[2022-09-25 13:52] FLAGLORD commented on #514
Have you sovled this problem? I met the same...

[2022-09-27 03:48] RoyZhang7 opened #606 "Add eBPF (and some other kernel related thing) in skills"
**Is your feature request related to a problem? Please describe.**
I really like this generator, but it could be better if there will be some skills related to kernel development (eBPF for example).

**Describe the solution you'd like**
Simply add them with an icon to `other` or somewhere maintainers like.

[2022-09-28 20:15] SouvikDcoder opened #607 "Please Add the option to select "Robot Framework" under the Testing Section"
**Is your feature request related to a problem? Please describe.**
Not a problem. Proposing an enhancement to cater to a broader group.

**Describe the solution you'd like**
Request to add the option to select Robot Framework under the testing section. It is an in-demand technology and is greatly in use across organizations. Adding this would help people to make better selections.

**Describe alte

[2022-09-28 20:16] SouvikDcoder commented on #607
I would like to take up the implementation of the same. Kindly assign this issue to me.

[2022-09-30 06:41] bossm0n5t3r commented on #338
Agree with @rock3r

[2022-09-30 08:15] MurzNN opened #609 "Add codersrank.io"
Will be good to add the codersrank.io service, that shows pretty good statistics for developers.

[2022-10-01 06:40] joanjeremiah commented on #561
I would like to solve this issue. Kindly assign this to me @zachary-cauchi

[2022-10-01 06:57] joanjeremiah commented on #567
Kindly assign this task to me

[2022-10-01 08:09] HashtagDevM opened #610 "Replit"
Can you please add the option to link your Replit profile to the Social section?

![Screenshot 2022-10-01 at 10 08 15](https://user-images.githubusercontent.com/26260699/193399784-b86df318-119f-4ab4-9169-869dd1f15b2d.png)

[2022-10-01 08:10] varun7singh commented on #610
can i work on this issue?

[2022-10-01 08:39] varun7singh commented on #610
@HashtagDevM  can you please review this #611

[2022-10-01 09:45] 201B153 commented on #600
It is working see!

[2022-10-01 09:53] 201B153 commented on #577
do we have to add .npmrc too?

[2022-10-01 11:22] varun7singh commented on #610
#613

[2022-10-01 13:22] sachin-source commented on #555
Hey.. I can explore about more devops tools and work on it..
Assign this issue to me @rahuldkjain

[2022-10-01 21:56] #600 closed

[2022-10-02 10:08] sidverma32 commented on #530
Raised a pull request with updated hashnode SVG icon.! @nebocoder

[2022-10-02 16:41] MihirShinde-29 commented on #610
hey, i would like to work on this issue, can you assign it?

[2022-10-02 18:27] varun7singh commented on #610
@rahuldkjain  can you review this #613

[2022-10-02 19:43] ch3ber commented on #578
Can you please assign this issue to me?

[2022-10-03 11:29] Siddharth9890 commented on #556
I would like to fix this issue. Assign it to me

[2022-10-04 03:15] ignoreintuition commented on #569
https://github.com/rahuldkjain/github-profile-readme-generator/pull/615

[2022-10-04 05:44] abhishekrd opened #616 "Hashnode logo in Social is Wrong."
- The logo for Hashnode in the social section is wrong. It is not the Hashnode logo.
- ![Screenshot 2022-10-04 110655](https://user-images.githubusercontent.com/88556842/193743360-bdae3c34-6f1f-4b39-a0fd-253e8e63bd16.png)
- I want to replace this logo with the real Hashnode logo
@rahuldkjain can you please assign this to me?

[2022-10-04 06:31] JatinSingh08 commented on #616
Hey @abhishekrd, please assign this issue to me.

[2022-10-04 10:15] itz-jherie opened #618 "web3 Tools Icons"
**Feature Request.**
There are no icons for Web3 Programming Languages and tools

**Solution Description**
Adding icons for hardhat, solidity, ethers, etc..

Join the **Discord Server** for further discussions.

<a href="https://discord.gg/HHMs7Eg">
<img src="https://discord.com/assets/e4923594e694a21542a489471ecffa50.svg" alt="GPRG Discord Server Link" width="300px"/>
</a>

Server Link: https://d

[2022-10-04 12:41] vivian-dai opened #619 "Kotlin logo updated"
**Is your feature request related to a problem? Please describe.**
The logo for Kotlin updated. It now looks like
![](https://kotlinlang.org/assets/images/favicon.svg) rather than
![](https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/888aff31e1d26dd2a6acf6afebbc34970aeb0118/src/images/icons/MobileAppDevelopment/kotlin.svg)

**Describe the solution you'd like**
I would l

[2022-10-04 12:41] vivian-dai commented on #619
Also I'd like to know if I can take this issue.

[2022-10-05 09:14] abhishekrd commented on #616
@rahuldkjain can you please assign this issue to me?

[2022-10-05 12:46] thevinitgupta commented on #591
I would like to work on this issue

[2022-10-05 16:40] YasribProyas opened #620 "Add Godot and Astro to skills list"
**Is your feature request related to a problem? Please describe.**
I noticed there were two popular skills missing
*Godot* an awesome open source game engine.
*Astro* a blazingly fast site generator.
Both of them are game changers and must be included in the list

**Describe the solution you'd like**
I am thinking of making a PR to add them in the list.

<br/>
<br/>

Join the **Discord Server** fo

[2022-10-05 22:51] itz-jherie commented on #618
Yeah they need to be added..
I forked the project yesterday but I'm still having issues running it locally

You can also just clone it, work on it and open a pull request later on

[2022-10-06 17:38] siddoinghisjob commented on #262
Is this still open to contribution?

[2022-10-06 20:57] MichaelVini commented on #514
I used node version 14.15.0 and it worked

[2022-10-07 00:42] spaces7 opened #625 "Socials Spoj and Replit addon"
<h2>Replit and Spoj in Socials</h2>
Spoj is a popular coding platform that many users use, but it's not added to socials.

[2022-10-07 00:43] spaces7 opened #626 "Scroll Up button"
The page is too long to scroll to the top of the page, so there should be a scroll up button.

[2022-10-07 00:44] spaces7 commented on #626
I would like to contribute, if you would love to have then I'll surely add it.

[2022-10-07 07:02] karate commented on #626
I can help you with this.

I'd suggest we put the scroll-to-top button at the bottom right corner, and move the buymeacoffee button the bottom left.

What do you think?